In [40]:
import urllib.request

# pretty-print python data structures
from pprint import pprint


# for parsing all the tables present 
# on the website
from html_table_parser.parser import HTMLTableParser

# for converting the parsed data in a
# pandas dataframe
import pandas as pd

In [41]:
# Opens a website and read its
# binary contents (HTTP Response Body)
def url_get_contents(url):

    # Opens a website and read its
    # binary contents (HTTP Response Body)

    #making request to the website
    req = urllib.request.Request(url=url)
    f = urllib.request.urlopen(req)

    #reading contents of the website
    return f.read()

In [42]:
## first link that is Life expectancy by US states
xhtml = url_get_contents('https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_life_expectancy').decode('utf-8')

In [43]:

# Defining the HTMLTableParser object
p = HTMLTableParser()

# feeding the html contents in the
# HTMLTableParser object
p.feed(xhtml)

# Now finally obtaining the data of
# the table required
pprint(p.tables[1])

[['State/Territory',
  '2019 3',
  '2010 7',
  '2000 7',
  '1990 7',
  '1980 7',
  '1970 7',
  '1960 7',
  'Change 1960-2018'],
 ['United States 10',
  '78.8',
  '78.7',
  '76.8',
  '75.4',
  '73.7',
  '70.8',
  '69.7',
  '9.1'],
 ['Alabama', '75.5', '75.4', '74.4', '73.7', '72.3', '69.2', '67.9', '7.6'],
 ['Alaska', '79.0', '78.0', '76.2', '75.0', '72.4', '69.2', '67.2', '11.8'],
 ['American Samoa 12',
  '74.8',
  '71.6',
  '71.4',
  '70.9',
  '70.2',
  '69.3',
  '67.0',
  '7.8'],
 ['Arizona', '80.0', '79.3', '77.1', '76.2', '74.2', '70.9', '69.3', '10.7'],
 ['Arkansas', '76.0', '76.0', '74.8', '74.4', '73.3', '70.8', '69.9', '6.1'],
 ['California', '81.7', '80.6', '78.1', '75.8', '74.3', '71.8', '70.8', '10.9'],
 ['Colorado', '80.6', '80.1', '78.4', '77.2', '75.4', '72.1', '70.9', '9.7'],
 ['Connecticut', '80.9', '80.7', '78.3', '77.1', '74.9', '72.6', '71.1', '9.8'],
 ['Delaware', '78.5', '78.3', '76.4', '75.0', '73.2', '69.9', '69.1', '9.4'],
 ['District of Columbia 8',
  '79.0',
  '76.9',
  '72.1',
  '67.4',
  '68.9',
  '65.2',
  '66.3',
  '12.7'],
 ['Florida', '80.2', '79.0', '77.0', '75.7', '73.8', '70.8', '69.9', '10.3'],
 ['Georgia', '77.9', '77.3', '75.1', '73.8', '72.1', '68.4', '67.5', '10.4'],
 ['Guam 4', '79.9', '77.0', '75.0', '71.9', '69.3', '65.7', '61.0', '18.9'],
 ['Hawaii', '82.3', '81.4', '79.5', '78.2', '77.1', '74.0', '71.3', '11.0'],
 ['Idaho', '79.4', '79.4', '78.1', '77.2', '75.2', '72.0', '71.4', '8.0'],
 ['Illinois', '79.4', '79.0', '76.6', '74.9', '73.3', '70.1', '69.6', '9.8'],
 ['Indiana', '77.1', '77.5', '76.0', '75.4', '73.9', '70.9', '70.3', '6.8'],
 ['Iowa', '79.4', '79.6', '78.3', '77.5', '75.8', '72.6', '71.9', '7.5'],
 ['Kansas', '78.5', '78.6', '77.4', '77.0', '75.2', '72.8', '71.9', '6.6'],
 ['Kentucky', '75.6', '75.9', '75.1', '74.4', '72.8', '70.0', '69.6', '6.0'],
 ['Louisiana', '76.1', '75.8', '74.1', '73.1', '71.6', '68.7', '67.9', '8.2'],
 ['Maine', '78.7', '79.1', '77.6', '76.6', '74.4', '70.7', '70.2', '8.5'],
 ['Maryland', '79.2', '79.0', '76.2', '74.9', '73.3', '70.2', '68.6', '10.6'],
 ['Massachusetts',
  '80.6',
  '80.5',
  '78.2',
  '76.8',
  '74.8',
  '71.9',
  '70.5',
  '10.1'],
 ['Michigan', '78.1', '78.0', '76.4', '75.1', '73.7', '70.7', '70.2', '7.9'],
 ['Minnesota', '80.9', '80.8', '79.0', '77.8', '76.1', '73.0', '71.8', '9.1'],
 ['Mississippi', '74.9', '74.8', '73.4', '73.1', '71.8', '68.4', '67.6', '7.3'],
 ['Missouri', '77.3', '77.4', '76.0', '75.3', '73.6', '70.6', '70.2', '7.1'],
 ['Montana', '78.9', '78.5', '77.3', '76.4', '73.8', '70.8', '69.6', '9.3'],
 ['Nebraska', '79.6', '79.7', '78.3', '76.9', '75.4', '72.5', '72.0', '7.6'],
 ['Nevada', '78.7', '77.8', '75.9', '74.5', '72.6', '69.3', '67.6', '11.1'],
 ['New Hampshire',
  '79.7',
  '80.3',
  '78.5',
  '77.0',
  '75.1',
  '71.6',
  '70.7',
  '9.0'],
 ['New Jersey', '80.5', '80.0', '77.3', '75.4', '73.8', '71.0', '69.9', '10.6'],
 ['New Mexico', '78.0', '78.2', '77.1', '76.0', '73.8', '70.5', '69.3', '8.7'],
 ['New York', '81.4', '80.3', '77.6', '74.6', '73.4', '70.5', '69.7', '11.7'],
 ['North Carolina',
  '78.1',
  '77.8',
  '75.6',
  '74.7',
  '73.0',
  '69.3',
  '68.2',
  '9.9'],
 ['North Dakota',
  '79.7',
  '79.7',
  '78.8',
  '77.5',
  '75.6',
  '73.0',
  '71.5',
  '8.2'],
 ['Northern Mariana Islands 12',
  '76.1',
  '76.4',
  '75.8',
  '74.3',
  '73.6',
  '71.4',
  '69.3',
  '6.8'],
 ['Ohio', '77.0', '77.7', '76.3', '75.3', '73.3', '70.8', '70.2', '6.8'],
 ['Oklahoma', '76.0', '75.7', '75.0', '75.0', '73.6', '71.1', '70.8', '5.2'],
 ['Oregon', '79.9', '79.5', '77.8', '76.5', '74.9', '72.4', '71.0', '8.9'],
 ['Pennsylvania',
  '78.4',
  '78.5',
  '76.7',
  '75.4',
  '73.3',
  '70.4',
  '69.5',
  '8.9'],
 ['Puerto Rico 4',
  '79.8',
  '78.4',
  '76.7',
  '74.2',
  '73.7',
  '71.5',
  '68.7',
  '11.1'],
 ['Rhode Island',
  '79.8',
  '79.5',
  '78.0',
  '76.4',
  '74.6',
  '71.7',
  '70.6',
  '9.2'],
 ['South Carolina',
  '77.1',
  '76.8',
  '74.7',
  '73.6',
  '71.8',
  '68.1',
  '66.1',
  '11.0'],
 ['South Dakota',
  '78.9',
  '79.3',
  '78.0',
  '77.1',
  '74.8',
  '72.3',
  '70.5',
  '8.4'],
 ['Tennessee', '76.0', '76.2', '74.7', '74.2', '73.1', '70.0', '69.4', '6.6'],
 ['Texas', '79.2', '78.4', '76.5', '75.2', '73.6', '70.8', '70.2', '9.0'],
 ['Utah', '80.1', '79.8', '78.6', '78.0', '75.8', '72.8', '71.8', '8.3'],
 ['U.S. Virgin Islands 4',
  '79.6',
  '78.0',
  '76.6',
  '74.2',
  '71.7',
  '69.1',
  '66.2',
  '13.4'],
 ['Vermont', '79.8', '80.1', '78.2', '76.7', '74.3', '71.9', '70.4', '9.4'],
 ['Virginia', '79.5', '79.1', '76.8', '75.3', '73.3', '70.2', '68.7', '10.8'],
 ['Washington', '80.4', '80.1', '78.2', '76.8', '75.0', '71.9', '71.1', '9.3'],
 ['West Virginia',
  '74.8',
  '75.5',
  '74.9',
  '74.4',
  '72.6',
  '69.2',
  '69.6',
  '5.2'],
 ['Wisconsin', '79.5', '79.6', '78.0', '76.9', '75.3', '72.5', '71.1', '8.4'],
 ['Wyoming', '78.9', '78.1', '77.1', '76.4', '73.8', '70.8', '69.2', '9.7']]

In [44]:
print("\n\nPANDAS DATAFRAME\n")

PANDAS DATAFRAME

In [45]:
## Selecting table 1 from the wiki page 
print(pd.DataFrame(p.tables[1]))

                              0       1       2       3       4       5  \
0               State/Territory  2019 3  2010 7  2000 7  1990 7  1980 7
1              United States 10    78.8    78.7    76.8    75.4    73.7
2                       Alabama    75.5    75.4    74.4    73.7    72.3
3                        Alaska    79.0    78.0    76.2    75.0    72.4
4             American Samoa 12    74.8    71.6    71.4    70.9    70.2
5                       Arizona    80.0    79.3    77.1    76.2    74.2
6                      Arkansas    76.0    76.0    74.8    74.4    73.3
7                    California    81.7    80.6    78.1    75.8    74.3
8                      Colorado    80.6    80.1    78.4    77.2    75.4
9                   Connecticut    80.9    80.7    78.3    77.1    74.9
10                     Delaware    78.5    78.3    76.4    75.0    73.2
11       District of Columbia 8    79.0    76.9    72.1    67.4    68.9
12                      Florida    80.2    79.0    77.0    75.7    73.8
13                      Georgia    77.9    77.3    75.1    73.8    72.1
14                       Guam 4    79.9    77.0    75.0    71.9    69.3
15                       Hawaii    82.3    81.4    79.5    78.2    77.1
16                        Idaho    79.4    79.4    78.1    77.2    75.2
17                     Illinois    79.4    79.0    76.6    74.9    73.3
18                      Indiana    77.1    77.5    76.0    75.4    73.9
19                         Iowa    79.4    79.6    78.3    77.5    75.8
20                       Kansas    78.5    78.6    77.4    77.0    75.2
21                     Kentucky    75.6    75.9    75.1    74.4    72.8
22                    Louisiana    76.1    75.8    74.1    73.1    71.6
23                        Maine    78.7    79.1    77.6    76.6    74.4
24                     Maryland    79.2    79.0    76.2    74.9    73.3
25                Massachusetts    80.6    80.5    78.2    76.8    74.8
26                     Michigan    78.1    78.0    76.4    75.1    73.7
27                    Minnesota    80.9    80.8    79.0    77.8    76.1
28                  Mississippi    74.9    74.8    73.4    73.1    71.8
29                     Missouri    77.3    77.4    76.0    75.3    73.6
30                      Montana    78.9    78.5    77.3    76.4    73.8
31                     Nebraska    79.6    79.7    78.3    76.9    75.4
32                       Nevada    78.7    77.8    75.9    74.5    72.6
33                New Hampshire    79.7    80.3    78.5    77.0    75.1
34                   New Jersey    80.5    80.0    77.3    75.4    73.8
35                   New Mexico    78.0    78.2    77.1    76.0    73.8
36                     New York    81.4    80.3    77.6    74.6    73.4
37               North Carolina    78.1    77.8    75.6    74.7    73.0
38                 North Dakota    79.7    79.7    78.8    77.5    75.6
39  Northern Mariana Islands 12    76.1    76.4    75.8    74.3    73.6
40                         Ohio    77.0    77.7    76.3    75.3    73.3
41                     Oklahoma    76.0    75.7    75.0    75.0    73.6
42                       Oregon    79.9    79.5    77.8    76.5    74.9
43                 Pennsylvania    78.4    78.5    76.7    75.4    73.3
44                Puerto Rico 4    79.8    78.4    76.7    74.2    73.7
45                 Rhode Island    79.8    79.5    78.0    76.4    74.6
46               South Carolina    77.1    76.8    74.7    73.6    71.8
47                 South Dakota    78.9    79.3    78.0    77.1    74.8
48                    Tennessee    76.0    76.2    74.7    74.2    73.1
49                        Texas    79.2    78.4    76.5    75.2    73.6
50                         Utah    80.1    79.8    78.6    78.0    75.8
51        U.S. Virgin Islands 4    79.6    78.0    76.6    74.2    71.7
52                      Vermont    79.8    80.1    78.2    76.7    74.3
53                     Virginia    79.5    79.1    76.8    75.3    73.3
54                   Washington    80.4    80.1    78.2    76.8    75.0
55                West Virginia    74.8    75.5    74.9    74.4    72.6
56                    Wisconsin    79.5    79.6    78.0    76.9    75.3
57                      Wyoming    78.9    78.1    77.1    76.4    73.8

         6       7                 8
0   1970 7  1960 7  Change 1960-2018
1     70.8    69.7               9.1
2     69.2    67.9               7.6
3     69.2    67.2              11.8
4     69.3    67.0               7.8
5     70.9    69.3              10.7
6     70.8    69.9               6.1
7     71.8    70.8              10.9
8     72.1    70.9               9.7
9     72.6    71.1               9.8
10    69.9    69.1               9.4
11    65.2    66.3              12.7
12    70.8    69.9              10.3
13    68.4    67.5              10.4
14    65.7    61.0              18.9
15    74.0    71.3              11.0
16    72.0    71.4               8.0
17    70.1    69.6               9.8
18    70.9    70.3               6.8
19    72.6    71.9               7.5
20    72.8    71.9               6.6
21    70.0    69.6               6.0
22    68.7    67.9               8.2
23    70.7    70.2               8.5
24    70.2    68.6              10.6
25    71.9    70.5              10.1
26    70.7    70.2               7.9
27    73.0    71.8               9.1
28    68.4    67.6               7.3
29    70.6    70.2               7.1
30    70.8    69.6               9.3
31    72.5    72.0               7.6
32    69.3    67.6              11.1
33    71.6    70.7               9.0
34    71.0    69.9              10.6
35    70.5    69.3               8.7
36    70.5    69.7              11.7
37    69.3    68.2               9.9
38    73.0    71.5               8.2
39    71.4    69.3               6.8
40    70.8    70.2               6.8
41    71.1    70.8               5.2
42    72.4    71.0               8.9
43    70.4    69.5               8.9
44    71.5    68.7              11.1
45    71.7    70.6               9.2
46    68.1    66.1              11.0
47    72.3    70.5               8.4
48    70.0    69.4               6.6
49    70.8    70.2               9.0
50    72.8    71.8               8.3
51    69.1    66.2              13.4
52    71.9    70.4               9.4
53    70.2    68.7              10.8
54    71.9    71.1               9.3
55    69.2    69.6               5.2
56    72.5    71.1               8.4
57    70.8    69.2               9.7

In [46]:
## defining the table as a pandas dataframe 
df=pd.DataFrame(p.tables[1])

In [47]:
dfTest=df # working with a copy..

In [48]:
## Checking the first few rows of the df 
dfTest.head()

,0,1,2,3,4,5,6,7,8
0,State/Territory,2019 3,2010 7,2000 7,1990 7,1980 7,1970 7,1960 7,Change 1960-2018
1,United States 10,78.8,78.7,76.8,75.4,73.7,70.8,69.7,9.1
2,Alabama,75.5,75.4,74.4,73.7,72.3,69.2,67.9,7.6
3,Alaska,79.0,78.0,76.2,75.0,72.4,69.2,67.2,11.8
4,American Samoa 12,74.8,71.6,71.4,70.9,70.2,69.3,67.0,7.8

In [49]:
# naming all columns
dfTest.columns=['States', '2019', '2010','2000','1990','1980','1970','1960','Change' ]
#see changes:
dfTest.head()

,States,2019,2010,2000,1990,1980,1970,1960,Change
0,State/Territory,2019 3,2010 7,2000 7,1990 7,1980 7,1970 7,1960 7,Change 1960-2018
1,United States 10,78.8,78.7,76.8,75.4,73.7,70.8,69.7,9.1
2,Alabama,75.5,75.4,74.4,73.7,72.3,69.2,67.9,7.6
3,Alaska,79.0,78.0,76.2,75.0,72.4,69.2,67.2,11.8
4,American Samoa 12,74.8,71.6,71.4,70.9,70.2,69.3,67.0,7.8

In [50]:
dfTest.columns() ## Checking if my column names have changed

TypeError: 'Index' object is not callable

In [51]:
#defining values I want to drop, I am dropping all foreign territories of the United States 
values = ["State/Territory", "United States 10", "American Samoa 12", "Guam 4", "Northern Mariana Islands 12", "Puerto Rico 4", "U.S. Virgin Islands 4"  ]

#drop rows that contain any value in the list
dfTest = dfTest[dfTest.States.isin(values) == False]

In [52]:
#dfTest = dfTest.drop(index = [0, 1, 2, 12, 37, 42, 49])
dfTest = dfTest.reset_index() # resetting index after the drop
dfTest = dfTest.drop(columns={'index'}) # dropiing the additional index column
dfTest

                    States  2019  2010  2000  1990  1980  1970  1960 Change
0                  Alabama  75.5  75.4  74.4  73.7  72.3  69.2  67.9    7.6
1                   Alaska  79.0  78.0  76.2  75.0  72.4  69.2  67.2   11.8
2                  Arizona  80.0  79.3  77.1  76.2  74.2  70.9  69.3   10.7
3                 Arkansas  76.0  76.0  74.8  74.4  73.3  70.8  69.9    6.1
4               California  81.7  80.6  78.1  75.8  74.3  71.8  70.8   10.9
5                 Colorado  80.6  80.1  78.4  77.2  75.4  72.1  70.9    9.7
6              Connecticut  80.9  80.7  78.3  77.1  74.9  72.6  71.1    9.8
7                 Delaware  78.5  78.3  76.4  75.0  73.2  69.9  69.1    9.4
8   District of Columbia 8  79.0  76.9  72.1  67.4  68.9  65.2  66.3   12.7
9                  Florida  80.2  79.0  77.0  75.7  73.8  70.8  69.9   10.3
10                 Georgia  77.9  77.3  75.1  73.8  72.1  68.4  67.5   10.4
11                  Hawaii  82.3  81.4  79.5  78.2  77.1  74.0  71.3   11.0
12                   Idaho  79.4  79.4  78.1  77.2  75.2  72.0  71.4    8.0
13                Illinois  79.4  79.0  76.6  74.9  73.3  70.1  69.6    9.8
14                 Indiana  77.1  77.5  76.0  75.4  73.9  70.9  70.3    6.8
15                    Iowa  79.4  79.6  78.3  77.5  75.8  72.6  71.9    7.5
16                  Kansas  78.5  78.6  77.4  77.0  75.2  72.8  71.9    6.6
17                Kentucky  75.6  75.9  75.1  74.4  72.8  70.0  69.6    6.0
18               Louisiana  76.1  75.8  74.1  73.1  71.6  68.7  67.9    8.2
19                   Maine  78.7  79.1  77.6  76.6  74.4  70.7  70.2    8.5
20                Maryland  79.2  79.0  76.2  74.9  73.3  70.2  68.6   10.6
21           Massachusetts  80.6  80.5  78.2  76.8  74.8  71.9  70.5   10.1
22                Michigan  78.1  78.0  76.4  75.1  73.7  70.7  70.2    7.9
23               Minnesota  80.9  80.8  79.0  77.8  76.1  73.0  71.8    9.1
24             Mississippi  74.9  74.8  73.4  73.1  71.8  68.4  67.6    7.3
25                Missouri  77.3  77.4  76.0  75.3  73.6  70.6  70.2    7.1
26                 Montana  78.9  78.5  77.3  76.4  73.8  70.8  69.6    9.3
27                Nebraska  79.6  79.7  78.3  76.9  75.4  72.5  72.0    7.6
28                  Nevada  78.7  77.8  75.9  74.5  72.6  69.3  67.6   11.1
29           New Hampshire  79.7  80.3  78.5  77.0  75.1  71.6  70.7    9.0
30              New Jersey  80.5  80.0  77.3  75.4  73.8  71.0  69.9   10.6
31              New Mexico  78.0  78.2  77.1  76.0  73.8  70.5  69.3    8.7
32                New York  81.4  80.3  77.6  74.6  73.4  70.5  69.7   11.7
33          North Carolina  78.1  77.8  75.6  74.7  73.0  69.3  68.2    9.9
34            North Dakota  79.7  79.7  78.8  77.5  75.6  73.0  71.5    8.2
35                    Ohio  77.0  77.7  76.3  75.3  73.3  70.8  70.2    6.8
36                Oklahoma  76.0  75.7  75.0  75.0  73.6  71.1  70.8    5.2
37                  Oregon  79.9  79.5  77.8  76.5  74.9  72.4  71.0    8.9
38            Pennsylvania  78.4  78.5  76.7  75.4  73.3  70.4  69.5    8.9
39            Rhode Island  79.8  79.5  78.0  76.4  74.6  71.7  70.6    9.2
40          South Carolina  77.1  76.8  74.7  73.6  71.8  68.1  66.1   11.0
41            South Dakota  78.9  79.3  78.0  77.1  74.8  72.3  70.5    8.4
42               Tennessee  76.0  76.2  74.7  74.2  73.1  70.0  69.4    6.6
43                   Texas  79.2  78.4  76.5  75.2  73.6  70.8  70.2    9.0
44                    Utah  80.1  79.8  78.6  78.0  75.8  72.8  71.8    8.3
45                 Vermont  79.8  80.1  78.2  76.7  74.3  71.9  70.4    9.4
46                Virginia  79.5  79.1  76.8  75.3  73.3  70.2  68.7   10.8
47              Washington  80.4  80.1  78.2  76.8  75.0  71.9  71.1    9.3
48           West Virginia  74.8  75.5  74.9  74.4  72.6  69.2  69.6    5.2
49               Wisconsin  79.5  79.6  78.0  76.9  75.3  72.5  71.1    8.4
50                 Wyoming  78.9  78.1  77.1  76.4  73.8  70.8  69.2    9.7

In [53]:
dfTest = dfTest.rename(columns={"States": "US States"}) ## renaming columns from States to US States 
dfTest

                 US States  2019  2010  2000  1990  1980  1970  1960 Change
0                  Alabama  75.5  75.4  74.4  73.7  72.3  69.2  67.9    7.6
1                   Alaska  79.0  78.0  76.2  75.0  72.4  69.2  67.2   11.8
2                  Arizona  80.0  79.3  77.1  76.2  74.2  70.9  69.3   10.7
3                 Arkansas  76.0  76.0  74.8  74.4  73.3  70.8  69.9    6.1
4               California  81.7  80.6  78.1  75.8  74.3  71.8  70.8   10.9
5                 Colorado  80.6  80.1  78.4  77.2  75.4  72.1  70.9    9.7
6              Connecticut  80.9  80.7  78.3  77.1  74.9  72.6  71.1    9.8
7                 Delaware  78.5  78.3  76.4  75.0  73.2  69.9  69.1    9.4
8   District of Columbia 8  79.0  76.9  72.1  67.4  68.9  65.2  66.3   12.7
9                  Florida  80.2  79.0  77.0  75.7  73.8  70.8  69.9   10.3
10                 Georgia  77.9  77.3  75.1  73.8  72.1  68.4  67.5   10.4
11                  Hawaii  82.3  81.4  79.5  78.2  77.1  74.0  71.3   11.0
12                   Idaho  79.4  79.4  78.1  77.2  75.2  72.0  71.4    8.0
13                Illinois  79.4  79.0  76.6  74.9  73.3  70.1  69.6    9.8
14                 Indiana  77.1  77.5  76.0  75.4  73.9  70.9  70.3    6.8
15                    Iowa  79.4  79.6  78.3  77.5  75.8  72.6  71.9    7.5
16                  Kansas  78.5  78.6  77.4  77.0  75.2  72.8  71.9    6.6
17                Kentucky  75.6  75.9  75.1  74.4  72.8  70.0  69.6    6.0
18               Louisiana  76.1  75.8  74.1  73.1  71.6  68.7  67.9    8.2
19                   Maine  78.7  79.1  77.6  76.6  74.4  70.7  70.2    8.5
20                Maryland  79.2  79.0  76.2  74.9  73.3  70.2  68.6   10.6
21           Massachusetts  80.6  80.5  78.2  76.8  74.8  71.9  70.5   10.1
22                Michigan  78.1  78.0  76.4  75.1  73.7  70.7  70.2    7.9
23               Minnesota  80.9  80.8  79.0  77.8  76.1  73.0  71.8    9.1
24             Mississippi  74.9  74.8  73.4  73.1  71.8  68.4  67.6    7.3
25                Missouri  77.3  77.4  76.0  75.3  73.6  70.6  70.2    7.1
26                 Montana  78.9  78.5  77.3  76.4  73.8  70.8  69.6    9.3
27                Nebraska  79.6  79.7  78.3  76.9  75.4  72.5  72.0    7.6
28                  Nevada  78.7  77.8  75.9  74.5  72.6  69.3  67.6   11.1
29           New Hampshire  79.7  80.3  78.5  77.0  75.1  71.6  70.7    9.0
30              New Jersey  80.5  80.0  77.3  75.4  73.8  71.0  69.9   10.6
31              New Mexico  78.0  78.2  77.1  76.0  73.8  70.5  69.3    8.7
32                New York  81.4  80.3  77.6  74.6  73.4  70.5  69.7   11.7
33          North Carolina  78.1  77.8  75.6  74.7  73.0  69.3  68.2    9.9
34            North Dakota  79.7  79.7  78.8  77.5  75.6  73.0  71.5    8.2
35                    Ohio  77.0  77.7  76.3  75.3  73.3  70.8  70.2    6.8
36                Oklahoma  76.0  75.7  75.0  75.0  73.6  71.1  70.8    5.2
37                  Oregon  79.9  79.5  77.8  76.5  74.9  72.4  71.0    8.9
38            Pennsylvania  78.4  78.5  76.7  75.4  73.3  70.4  69.5    8.9
39            Rhode Island  79.8  79.5  78.0  76.4  74.6  71.7  70.6    9.2
40          South Carolina  77.1  76.8  74.7  73.6  71.8  68.1  66.1   11.0
41            South Dakota  78.9  79.3  78.0  77.1  74.8  72.3  70.5    8.4
42               Tennessee  76.0  76.2  74.7  74.2  73.1  70.0  69.4    6.6
43                   Texas  79.2  78.4  76.5  75.2  73.6  70.8  70.2    9.0
44                    Utah  80.1  79.8  78.6  78.0  75.8  72.8  71.8    8.3
45                 Vermont  79.8  80.1  78.2  76.7  74.3  71.9  70.4    9.4
46                Virginia  79.5  79.1  76.8  75.3  73.3  70.2  68.7   10.8
47              Washington  80.4  80.1  78.2  76.8  75.0  71.9  71.1    9.3
48           West Virginia  74.8  75.5  74.9  74.4  72.6  69.2  69.6    5.2
49               Wisconsin  79.5  79.6  78.0  76.9  75.3  72.5  71.1    8.4
50                 Wyoming  78.9  78.1  77.1  76.4  73.8  70.8  69.2    9.7

In [54]:
#dfTest["US States"].replace({"District of Columbia 8": "District of Columbia"}, inplace=True)

In [55]:
dfTest = dfTest.replace ("District of Columbia 8","District of Columbia") ## Cleaning the data and removing the extra number from the DC variable 
dfTest

               US States  2019  2010  2000  1990  1980  1970  1960 Change
0                Alabama  75.5  75.4  74.4  73.7  72.3  69.2  67.9    7.6
1                 Alaska  79.0  78.0  76.2  75.0  72.4  69.2  67.2   11.8
2                Arizona  80.0  79.3  77.1  76.2  74.2  70.9  69.3   10.7
3               Arkansas  76.0  76.0  74.8  74.4  73.3  70.8  69.9    6.1
4             California  81.7  80.6  78.1  75.8  74.3  71.8  70.8   10.9
5               Colorado  80.6  80.1  78.4  77.2  75.4  72.1  70.9    9.7
6            Connecticut  80.9  80.7  78.3  77.1  74.9  72.6  71.1    9.8
7               Delaware  78.5  78.3  76.4  75.0  73.2  69.9  69.1    9.4
8   District of Columbia  79.0  76.9  72.1  67.4  68.9  65.2  66.3   12.7
9                Florida  80.2  79.0  77.0  75.7  73.8  70.8  69.9   10.3
10               Georgia  77.9  77.3  75.1  73.8  72.1  68.4  67.5   10.4
11                Hawaii  82.3  81.4  79.5  78.2  77.1  74.0  71.3   11.0
12                 Idaho  79.4  79.4  78.1  77.2  75.2  72.0  71.4    8.0
13              Illinois  79.4  79.0  76.6  74.9  73.3  70.1  69.6    9.8
14               Indiana  77.1  77.5  76.0  75.4  73.9  70.9  70.3    6.8
15                  Iowa  79.4  79.6  78.3  77.5  75.8  72.6  71.9    7.5
16                Kansas  78.5  78.6  77.4  77.0  75.2  72.8  71.9    6.6
17              Kentucky  75.6  75.9  75.1  74.4  72.8  70.0  69.6    6.0
18             Louisiana  76.1  75.8  74.1  73.1  71.6  68.7  67.9    8.2
19                 Maine  78.7  79.1  77.6  76.6  74.4  70.7  70.2    8.5
20              Maryland  79.2  79.0  76.2  74.9  73.3  70.2  68.6   10.6
21         Massachusetts  80.6  80.5  78.2  76.8  74.8  71.9  70.5   10.1
22              Michigan  78.1  78.0  76.4  75.1  73.7  70.7  70.2    7.9
23             Minnesota  80.9  80.8  79.0  77.8  76.1  73.0  71.8    9.1
24           Mississippi  74.9  74.8  73.4  73.1  71.8  68.4  67.6    7.3
25              Missouri  77.3  77.4  76.0  75.3  73.6  70.6  70.2    7.1
26               Montana  78.9  78.5  77.3  76.4  73.8  70.8  69.6    9.3
27              Nebraska  79.6  79.7  78.3  76.9  75.4  72.5  72.0    7.6
28                Nevada  78.7  77.8  75.9  74.5  72.6  69.3  67.6   11.1
29         New Hampshire  79.7  80.3  78.5  77.0  75.1  71.6  70.7    9.0
30            New Jersey  80.5  80.0  77.3  75.4  73.8  71.0  69.9   10.6
31            New Mexico  78.0  78.2  77.1  76.0  73.8  70.5  69.3    8.7
32              New York  81.4  80.3  77.6  74.6  73.4  70.5  69.7   11.7
33        North Carolina  78.1  77.8  75.6  74.7  73.0  69.3  68.2    9.9
34          North Dakota  79.7  79.7  78.8  77.5  75.6  73.0  71.5    8.2
35                  Ohio  77.0  77.7  76.3  75.3  73.3  70.8  70.2    6.8
36              Oklahoma  76.0  75.7  75.0  75.0  73.6  71.1  70.8    5.2
37                Oregon  79.9  79.5  77.8  76.5  74.9  72.4  71.0    8.9
38          Pennsylvania  78.4  78.5  76.7  75.4  73.3  70.4  69.5    8.9
39          Rhode Island  79.8  79.5  78.0  76.4  74.6  71.7  70.6    9.2
40        South Carolina  77.1  76.8  74.7  73.6  71.8  68.1  66.1   11.0
41          South Dakota  78.9  79.3  78.0  77.1  74.8  72.3  70.5    8.4
42             Tennessee  76.0  76.2  74.7  74.2  73.1  70.0  69.4    6.6
43                 Texas  79.2  78.4  76.5  75.2  73.6  70.8  70.2    9.0
44                  Utah  80.1  79.8  78.6  78.0  75.8  72.8  71.8    8.3
45               Vermont  79.8  80.1  78.2  76.7  74.3  71.9  70.4    9.4
46              Virginia  79.5  79.1  76.8  75.3  73.3  70.2  68.7   10.8
47            Washington  80.4  80.1  78.2  76.8  75.0  71.9  71.1    9.3
48         West Virginia  74.8  75.5  74.9  74.4  72.6  69.2  69.6    5.2
49             Wisconsin  79.5  79.6  78.0  76.9  75.3  72.5  71.1    8.4
50               Wyoming  78.9  78.1  77.1  76.4  73.8  70.8  69.2    9.7

In [56]:
## First dataset showing different lifeexpectancies by state. and only for years 2000-2019
LE_state = dfTest.drop(columns=['Change', '1960','1970','1980','1990']) ## Cleaning table and removing additional columns 
LE_state ## LE_state represents Life Expectancy by State

               US States  2019  2010  2000
0                Alabama  75.5  75.4  74.4
1                 Alaska  79.0  78.0  76.2
2                Arizona  80.0  79.3  77.1
3               Arkansas  76.0  76.0  74.8
4             California  81.7  80.6  78.1
5               Colorado  80.6  80.1  78.4
6            Connecticut  80.9  80.7  78.3
7               Delaware  78.5  78.3  76.4
8   District of Columbia  79.0  76.9  72.1
9                Florida  80.2  79.0  77.0
10               Georgia  77.9  77.3  75.1
11                Hawaii  82.3  81.4  79.5
12                 Idaho  79.4  79.4  78.1
13              Illinois  79.4  79.0  76.6
14               Indiana  77.1  77.5  76.0
15                  Iowa  79.4  79.6  78.3
16                Kansas  78.5  78.6  77.4
17              Kentucky  75.6  75.9  75.1
18             Louisiana  76.1  75.8  74.1
19                 Maine  78.7  79.1  77.6
20              Maryland  79.2  79.0  76.2
21         Massachusetts  80.6  80.5  78.2
22              Michigan  78.1  78.0  76.4
23             Minnesota  80.9  80.8  79.0
24           Mississippi  74.9  74.8  73.4
25              Missouri  77.3  77.4  76.0
26               Montana  78.9  78.5  77.3
27              Nebraska  79.6  79.7  78.3
28                Nevada  78.7  77.8  75.9
29         New Hampshire  79.7  80.3  78.5
30            New Jersey  80.5  80.0  77.3
31            New Mexico  78.0  78.2  77.1
32              New York  81.4  80.3  77.6
33        North Carolina  78.1  77.8  75.6
34          North Dakota  79.7  79.7  78.8
35                  Ohio  77.0  77.7  76.3
36              Oklahoma  76.0  75.7  75.0
37                Oregon  79.9  79.5  77.8
38          Pennsylvania  78.4  78.5  76.7
39          Rhode Island  79.8  79.5  78.0
40        South Carolina  77.1  76.8  74.7
41          South Dakota  78.9  79.3  78.0
42             Tennessee  76.0  76.2  74.7
43                 Texas  79.2  78.4  76.5
44                  Utah  80.1  79.8  78.6
45               Vermont  79.8  80.1  78.2
46              Virginia  79.5  79.1  76.8
47            Washington  80.4  80.1  78.2
48         West Virginia  74.8  75.5  74.9
49             Wisconsin  79.5  79.6  78.0
50               Wyoming  78.9  78.1  77.1

In [57]:
# second website link that is a table of median HH Income by US states 
xhtml_pci=url_get_contents('https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_income').decode('utf-8')

In [58]:
# Defining the HTMLTableParser object
p_pci = HTMLTableParser()

# feeding the html contents in the
# HTMLTableParser object
p_pci.feed(xhtml_pci)

# Now finally obtaining the data of
# the table required
pprint(p_pci.tables[1])
print(pd.DataFrame(p_pci.tables[1]))

[['Rank', 'State or territory', '2018', '2017', '2016', '2015', '2014 note 2'],
 ['1',
  'Washington, D.C.',
  '$85,203',
  '$82,372',
  '$75,506',
  '$75,628',
  '$71,648'],
 ['2', 'Maryland', '$83,242', '$80,776', '$78,945', '$75,847', '$73,971'],
 ['3', 'New Jersey', '$81,740', '$80,088', '$76,126', '$72,222', '$71,919'],
 ['4', 'Hawaii', '$80,212', '$77,765', '$74,511', '$73,486', '$69,592'],
 ['5', 'Massachusetts', '$79,835', '$77,385', '$75,297', '$70,628', '$69,160'],
 ['6', 'Connecticut', '$76,348', '$74,168', '$73,433', '$71,346', '$70,048'],
 ['7', 'California', '$75,277', '$71,805', '$67,739', '$64,500', '$61,933'],
 ['8', 'New Hampshire', '$74,991', '$73,381', '$70,936', '$70,303', '$66,532'],
 ['9', 'Alaska', '$74,346', '$73,181', '$76,440', '$73,355', '$71,583'],
 ['10', 'Washington', '$74,073', '$70,979', '$67,106', '$64,129', '$61,366'],
 ['11', 'Virginia', '$72,577', '$71,535', '$68,114', '$66,262', '$64,902'],
 ['12', 'Colorado', '$71,953', '$69,117', '$65,685', '$63,909', '$61,303'],
 ['13', 'Utah', '$71,414', '$65,358', '$65,977', '$62,912', '$60,922'],
 ['14', 'Minnesota', '$70,315', '$68,388', '$65,599', '$63,488', '$61,481'],
 ['15', 'New York', '$67,844', '$64,894', '$62,909', '$60,850', '$58,878'],
 ['16', 'Illinois', '$65,030', '$62,992', '$60,960', '$59,588', '$57,444'],
 ['17', 'Delaware', '$64,805', '$62,852', '$61,757', '$61,255', '$59,716'],
 ['18', 'Rhode Island', '$64,340', '$63,870', '$60,596', '$58,073', '$54,891'],
 ['19', 'North Dakota', '$63,837', '$61,843', '$60,656', '$60,557', '$59,029'],
 ['20', 'Oregon', '$63,426', '$60,212', '$57,532', '$54,148', '$51,075'],
 ['', 'United States', '$63,179', '$60,336', '$57,617', '$55,775', '$53,657'],
 ['21', 'Wyoming', '$61,584', '$60,434', '$59,882', '$60,214', '$57,055'],
 ['22', 'Pennsylvania', '$60,905', '$59,105', '$56,907', '$55,702', '$53,234'],
 ['23', 'Vermont', '$60,782', '$57,513', '$57,677', '$56,990', '$54,166'],
 ['24', 'Wisconsin', '$60,773', '$59,305', '$56,811', '$55,638', '$52,622'],
 ['25', 'Texas', '$60,629', '$59,206', '$56,565', '$55,653', '$53,035'],
 ['26', 'Iowa', '$59,955', '$58,570', '$56,247', '$54,736', '$53,712'],
 ['27', 'Nebraska', '$59,566', '$59,970', '$56,927', '$54,996', '$52,686'],
 ['28', 'Arizona', '$59,246', '$56,581', '$53,558', '$51,492', '$50,068'],
 ['29', 'Georgia', '$58,756', '$56,183', '$53,559', '$51,244', '$49,321'],
 ['30', 'Nevada', '$58,646', '$58,003', '$55,180', '$52,431', '$51,450'],
 ['31', 'Kansas', '$58,218', '$56,422', '$54,935', '$53,906', '$52,504'],
 ['32', 'Michigan', '$56,697', '$54,909', '$52,491', '$51,084', '$49,847'],
 ['33', 'South Dakota', '$56,274', '$56,521', '$54,467', '$53,017', '$50,979'],
 ['34', 'Ohio', '$56,111', '$54,021', '$52,344', '$51,075', '$49,308'],
 ['35', 'Indiana', '$55,746', '$54,181', '$52,314', '$50,532', '$49,446'],
 ['36', 'Maine', '$55,602', '$55,277', '$53,079', '$51,494', '$49,462'],
 ['37', 'Idaho', '$55,583', '$52,225', '$51,807', '$48,275', '$47,861'],
 ['38', 'Florida', '$55,462', '$52,594', '$50,860', '$49,426', '$47,463'],
 ['39', 'Montana', '$55,328', '$53,386', '$50,027', '$49,509', '$46,328'],
 ['40', 'Missouri', '$54,478', '$53,578', '$51,746', '$50,238', '$48,363'],
 ['41',
  'North Carolina',
  '$53,855',
  '$52,752',
  '$50,584',
  '$47,830',
  '$46,556'],
 ['42', 'Tennessee', '$52,375', '$51,340', '$48,547', '$47,275', '$44,361'],
 ['43',
  'South Carolina',
  '$52,306',
  '$50,570',
  '$49,501',
  '$47,238',
  '$45,238'],
 ['44', 'Oklahoma', '$51,924', '$50,051', '$49,176', '$48,568', '$47,529'],
 ['45', 'Kentucky', '$50,247', '$48,375', '$46,659', '$45,215', '$42,958'],
 ['46', 'Alabama', '$49,861', '$48,123', '$46,257', '$44,765', '$42,830'],
 ['47', 'Guam', '', '', '', '', '$48,274 3'],
 ['48', 'Louisiana', '$47,905', '$46,145', '$45,146', '$45,727', '$44,555'],
 ['49', 'New Mexico', '$47,169', '$46,744', '$46,748', '$45,382', '$44,803'],
 ['50', 'Arkansas', '$47,062', '$45,869', '$44,334', '$41,995', '$41,262'],
 ['51', 'Mississippi', '$44,717', '$43,529', '$41,754', '$40,593', '$39,680'],
 ['52', 'West Virginia', '$44,097', '$43,469', '$43,385', '$42,019', '$41,059'],
 ['53', 'Virgin Islands (U.S.)', '', '', '', '', '$37,254 4'],
 ['54', 'American Samoa', '', '', '', '', '$23,892 5'],
 ['55', 'Northern Mariana Islands', '', '', '', '', '$19,958 6'],
 ['56', 'Puerto Rico', '$20,296', '$19,343', '$20,078', '$18,626', '$18,928']]
       0                         1        2        3        4        5  \
0   Rank        State or territory     2018     2017     2016     2015
1      1          Washington, D.C.  $85,203  $82,372  $75,506  $75,628
2      2                  Maryland  $83,242  $80,776  $78,945  $75,847
3      3                New Jersey  $81,740  $80,088  $76,126  $72,222
4      4                    Hawaii  $80,212  $77,765  $74,511  $73,486
5      5             Massachusetts  $79,835  $77,385  $75,297  $70,628
6      6               Connecticut  $76,348  $74,168  $73,433  $71,346
7      7                California  $75,277  $71,805  $67,739  $64,500
8      8             New Hampshire  $74,991  $73,381  $70,936  $70,303
9      9                    Alaska  $74,346  $73,181  $76,440  $73,355
10    10                Washington  $74,073  $70,979  $67,106  $64,129
11    11                  Virginia  $72,577  $71,535  $68,114  $66,262
12    12                  Colorado  $71,953  $69,117  $65,685  $63,909
13    13                      Utah  $71,414  $65,358  $65,977  $62,912
14    14                 Minnesota  $70,315  $68,388  $65,599  $63,488
15    15                  New York  $67,844  $64,894  $62,909  $60,850
16    16                  Illinois  $65,030  $62,992  $60,960  $59,588
17    17                  Delaware  $64,805  $62,852  $61,757  $61,255
18    18              Rhode Island  $64,340  $63,870  $60,596  $58,073
19    19              North Dakota  $63,837  $61,843  $60,656  $60,557
20    20                    Oregon  $63,426  $60,212  $57,532  $54,148
21                  United States  $63,179  $60,336  $57,617  $55,775
22    21                   Wyoming  $61,584  $60,434  $59,882  $60,214
23    22              Pennsylvania  $60,905  $59,105  $56,907  $55,702
24    23                   Vermont  $60,782  $57,513  $57,677  $56,990
25    24                 Wisconsin  $60,773  $59,305  $56,811  $55,638
26    25                     Texas  $60,629  $59,206  $56,565  $55,653
27    26                      Iowa  $59,955  $58,570  $56,247  $54,736
28    27                  Nebraska  $59,566  $59,970  $56,927  $54,996
29    28                   Arizona  $59,246  $56,581  $53,558  $51,492
30    29                   Georgia  $58,756  $56,183  $53,559  $51,244
31    30                    Nevada  $58,646  $58,003  $55,180  $52,431
32    31                    Kansas  $58,218  $56,422  $54,935  $53,906
33    32                  Michigan  $56,697  $54,909  $52,491  $51,084
34    33              South Dakota  $56,274  $56,521  $54,467  $53,017
35    34                      Ohio  $56,111  $54,021  $52,344  $51,075
36    35                   Indiana  $55,746  $54,181  $52,314  $50,532
37    36                     Maine  $55,602  $55,277  $53,079  $51,494
38    37                     Idaho  $55,583  $52,225  $51,807  $48,275
39    38                   Florida  $55,462  $52,594  $50,860  $49,426
40    39                   Montana  $55,328  $53,386  $50,027  $49,509
41    40                  Missouri  $54,478  $53,578  $51,746  $50,238
42    41            North Carolina  $53,855  $52,752  $50,584  $47,830
43    42                 Tennessee  $52,375  $51,340  $48,547  $47,275
44    43            South Carolina  $52,306  $50,570  $49,501  $47,238
45    44                  Oklahoma  $51,924  $50,051  $49,176  $48,568
46    45                  Kentucky  $50,247  $48,375  $46,659  $45,215
47    46                   Alabama  $49,861  $48,123  $46,257  $44,765
48    47                      Guam
49    48                 Louisiana  $47,905  $46,145  $45,146  $45,727
50    49                New Mexico  $47,169  $46,744  $46,748  $45,382
51    50                  Arkansas  $47,062  $45,869  $44,334  $41,995
52    51               Mississippi  $44,717  $43,529  $41,754  $40,593
53    52             West Virginia  $44,097  $43,469  $43,385  $42,019
54    53     Virgin Islands (U.S.)
55    54            American Samoa
56    55  Northern Mariana Islands
57    56               Puerto Rico  $20,296  $19,343  $20,078  $18,626

              6
0   2014 note 2
1       $71,648
2       $73,971
3       $71,919
4       $69,592
5       $69,160
6       $70,048
7       $61,933
8       $66,532
9       $71,583
10      $61,366
11      $64,902
12      $61,303
13      $60,922
14      $61,481
15      $58,878
16      $57,444
17      $59,716
18      $54,891
19      $59,029
20      $51,075
21      $53,657
22      $57,055
23      $53,234
24      $54,166
25      $52,622
26      $53,035
27      $53,712
28      $52,686
29      $50,068
30      $49,321
31      $51,450
32      $52,504
33      $49,847
34      $50,979
35      $49,308
36      $49,446
37      $49,462
38      $47,861
39      $47,463
40      $46,328
41      $48,363
42      $46,556
43      $44,361
44      $45,238
45      $47,529
46      $42,958
47      $42,830
48    $48,274 3
49      $44,555
50      $44,803
51      $41,262
52      $39,680
53      $41,059
54    $37,254 4
55    $23,892 5
56    $19,958 6
57      $18,928

In [59]:
df_Income=pd.DataFrame(p_pci.tables[1]) ## renaming desired table as a pandas dataframe 
df_testi = df_Income ## Working with a copy 
df_testi

,0,1,2,3,4,5,6
0,Rank,State or territory,2018,2017,2016,2015,2014 note 2
1,1,"Washington, D.C.","$85,203","$82,372","$75,506","$75,628","$71,648"
2,2,Maryland,"$83,242","$80,776","$78,945","$75,847","$73,971"
3,3,New Jersey,"$81,740","$80,088","$76,126","$72,222","$71,919"
4,4,Hawaii,"$80,212","$77,765","$74,511","$73,486","$69,592"
5,5,Massachusetts,"$79,835","$77,385","$75,297","$70,628","$69,160"
6,6,Connecticut,"$76,348","$74,168","$73,433","$71,346","$70,048"
7,7,California,"$75,277","$71,805","$67,739","$64,500","$61,933"
8,8,New Hampshire,"$74,991","$73,381","$70,936","$70,303","$66,532"
9,9,Alaska,"$74,346","$73,181","$76,440","$73,355","$71,583"
10,10,Washington,"$74,073","$70,979","$67,106","$64,129","$61,366"
11,11,Virginia,"$72,577","$71,535","$68,114","$66,262","$64,902"
12,12,Colorado,"$71,953","$69,117","$65,685","$63,909","$61,303"
13,13,Utah,"$71,414","$65,358","$65,977","$62,912","$60,922"
14,14,Minnesota,"$70,315","$68,388","$65,599","$63,488","$61,481"
15,15,New York,"$67,844","$64,894","$62,909","$60,850","$58,878"
16,16,Illinois,"$65,030","$62,992","$60,960","$59,588","$57,444"
17,17,Delaware,"$64,805","$62,852","$61,757","$61,255","$59,716"
18,18,Rhode Island,"$64,340","$63,870","$60,596","$58,073","$54,891"
19,19,North Dakota,"$63,837","$61,843","$60,656","$60,557","$59,029"
20,20,Oregon,"$63,426","$60,212","$57,532","$54,148","$51,075"
21,,United States,"$63,179","$60,336","$57,617","$55,775","$53,657"
22,21,Wyoming,"$61,584","$60,434","$59,882","$60,214","$57,055"
23,22,Pennsylvania,"$60,905","$59,105","$56,907","$55,702","$53,234"
24,23,Vermont,"$60,782","$57,513","$57,677","$56,990","$54,166"
25,24,Wisconsin,"$60,773","$59,305","$56,811","$55,638","$52,622"
26,25,Texas,"$60,629","$59,206","$56,565","$55,653","$53,035"
27,26,Iowa,"$59,955","$58,570","$56,247","$54,736","$53,712"
28,27,Nebraska,"$59,566","$59,970","$56,927","$54,996","$52,686"
29,28,Arizona,"$59,246","$56,581","$53,558","$51,492","$50,068"
30,29,Georgia,"$58,756","$56,183","$53,559","$51,244","$49,321"
31,30,Nevada,"$58,646","$58,003","$55,180","$52,431","$51,450"
32,31,Kansas,"$58,218","$56,422","$54,935","$53,906","$52,504"
33,32,Michigan,"$56,697","$54,909","$52,491","$51,084","$49,847"
34,33,South Dakota,"$56,274","$56,521","$54,467","$53,017","$50,979"
35,34,Ohio,"$56,111","$54,021","$52,344","$51,075","$49,308"
36,35,Indiana,"$55,746","$54,181","$52,314","$50,532","$49,446"
37,36,Maine,"$55,602","$55,277","$53,079","$51,494","$49,462"
38,37,Idaho,"$55,583","$52,225","$51,807","$48,275","$47,861"
39,38,Florida,"$55,462","$52,594","$50,860","$49,426","$47,463"
40,39,Montana,"$55,328","$53,386","$50,027","$49,509","$46,328"
41,40,Missouri,"$54,478","$53,578","$51,746","$50,238","$48,363"
42,41,North Carolina,"$53,855","$52,752","$50,584","$47,830","$46,556"
43,42,Tennessee,"$52,375","$51,340","$48,547","$47,275","$44,361"
44,43,South Carolina,"$52,306","$50,570","$49,501","$47,238","$45,238"
45,44,Oklahoma,"$51,924","$50,051","$49,176","$48,568","$47,529"
46,45,Kentucky,"$50,247","$48,375","$46,659","$45,215","$42,958"
47,46,Alabama,"$49,861","$48,123","$46,257","$44,765","$42,830"
48,47,Guam,,,,,"$48,274 3"
49,48,Louisiana,"$47,905","$46,145","$45,146","$45,727","$44,555"
50,49,New Mexico,"$47,169","$46,744","$46,748","$45,382","$44,803"
51,50,Arkansas,"$47,062","$45,869","$44,334","$41,995","$41,262"
52,51,Mississippi,"$44,717","$43,529","$41,754","$40,593","$39,680"
53,52,West Virginia,"$44,097","$43,469","$43,385","$42,019","$41,059"
54,53,Virgin Islands (U.S.),,,,,"$37,254 4"
55,54,American Samoa,,,,,"$23,892 5"
56,55,Northern Mariana Islands,,,,,"$19,958 6"
57,56,Puerto Rico,"$20,296","$19,343","$20,078","$18,626","$18,928"

In [60]:
#df_testi.head(20).index.tolist()
#income_by_state = df_testi ['0','1']
# renaming all columns
df_testi.columns=['Rank','States', '2018', '2017','2016','2015','2014' ]
#see changes:
df_testi.head()

   Rank              States     2018     2017     2016     2015         2014
0  Rank  State or territory     2018     2017     2016     2015  2014 note 2
1     1    Washington, D.C.  $85,203  $82,372  $75,506  $75,628      $71,648
2     2            Maryland  $83,242  $80,776  $78,945  $75,847      $73,971
3     3          New Jersey  $81,740  $80,088  $76,126  $72,222      $71,919
4     4              Hawaii  $80,212  $77,765  $74,511  $73,486      $69,592

In [61]:
#define values that I want to drop-- dropping all US foreign territories 
values = ["State or territory", "United States", "American Samoa", "Guam", "Northern Mariana Islands", "Puerto Rico", "Virgin Islands (U.S.)"  ]

#drop rows that contain any value in the list
df_testi = df_testi[df_testi.States.isin(values) == False]

In [62]:
df_testi ## seeing if changes were made

   Rank            States     2018     2017     2016     2015     2014
1     1  Washington, D.C.  $85,203  $82,372  $75,506  $75,628  $71,648
2     2          Maryland  $83,242  $80,776  $78,945  $75,847  $73,971
3     3        New Jersey  $81,740  $80,088  $76,126  $72,222  $71,919
4     4            Hawaii  $80,212  $77,765  $74,511  $73,486  $69,592
5     5     Massachusetts  $79,835  $77,385  $75,297  $70,628  $69,160
6     6       Connecticut  $76,348  $74,168  $73,433  $71,346  $70,048
7     7        California  $75,277  $71,805  $67,739  $64,500  $61,933
8     8     New Hampshire  $74,991  $73,381  $70,936  $70,303  $66,532
9     9            Alaska  $74,346  $73,181  $76,440  $73,355  $71,583
10   10        Washington  $74,073  $70,979  $67,106  $64,129  $61,366
11   11          Virginia  $72,577  $71,535  $68,114  $66,262  $64,902
12   12          Colorado  $71,953  $69,117  $65,685  $63,909  $61,303
13   13              Utah  $71,414  $65,358  $65,977  $62,912  $60,922
14   14         Minnesota  $70,315  $68,388  $65,599  $63,488  $61,481
15   15          New York  $67,844  $64,894  $62,909  $60,850  $58,878
16   16          Illinois  $65,030  $62,992  $60,960  $59,588  $57,444
17   17          Delaware  $64,805  $62,852  $61,757  $61,255  $59,716
18   18      Rhode Island  $64,340  $63,870  $60,596  $58,073  $54,891
19   19      North Dakota  $63,837  $61,843  $60,656  $60,557  $59,029
20   20            Oregon  $63,426  $60,212  $57,532  $54,148  $51,075
22   21           Wyoming  $61,584  $60,434  $59,882  $60,214  $57,055
23   22      Pennsylvania  $60,905  $59,105  $56,907  $55,702  $53,234
24   23           Vermont  $60,782  $57,513  $57,677  $56,990  $54,166
25   24         Wisconsin  $60,773  $59,305  $56,811  $55,638  $52,622
26   25             Texas  $60,629  $59,206  $56,565  $55,653  $53,035
27   26              Iowa  $59,955  $58,570  $56,247  $54,736  $53,712
28   27          Nebraska  $59,566  $59,970  $56,927  $54,996  $52,686
29   28           Arizona  $59,246  $56,581  $53,558  $51,492  $50,068
30   29           Georgia  $58,756  $56,183  $53,559  $51,244  $49,321
31   30            Nevada  $58,646  $58,003  $55,180  $52,431  $51,450
32   31            Kansas  $58,218  $56,422  $54,935  $53,906  $52,504
33   32          Michigan  $56,697  $54,909  $52,491  $51,084  $49,847
34   33      South Dakota  $56,274  $56,521  $54,467  $53,017  $50,979
35   34              Ohio  $56,111  $54,021  $52,344  $51,075  $49,308
36   35           Indiana  $55,746  $54,181  $52,314  $50,532  $49,446
37   36             Maine  $55,602  $55,277  $53,079  $51,494  $49,462
38   37             Idaho  $55,583  $52,225  $51,807  $48,275  $47,861
39   38           Florida  $55,462  $52,594  $50,860  $49,426  $47,463
40   39           Montana  $55,328  $53,386  $50,027  $49,509  $46,328
41   40          Missouri  $54,478  $53,578  $51,746  $50,238  $48,363
42   41    North Carolina  $53,855  $52,752  $50,584  $47,830  $46,556
43   42         Tennessee  $52,375  $51,340  $48,547  $47,275  $44,361
44   43    South Carolina  $52,306  $50,570  $49,501  $47,238  $45,238
45   44          Oklahoma  $51,924  $50,051  $49,176  $48,568  $47,529
46   45          Kentucky  $50,247  $48,375  $46,659  $45,215  $42,958
47   46           Alabama  $49,861  $48,123  $46,257  $44,765  $42,830
49   48         Louisiana  $47,905  $46,145  $45,146  $45,727  $44,555
50   49        New Mexico  $47,169  $46,744  $46,748  $45,382  $44,803
51   50          Arkansas  $47,062  $45,869  $44,334  $41,995  $41,262
52   51       Mississippi  $44,717  $43,529  $41,754  $40,593  $39,680
53   52     West Virginia  $44,097  $43,469  $43,385  $42,019  $41,059

In [63]:
df_testi = df_testi.reset_index() ## resetting index after dropping values 
df_testi = df_testi.drop(columns={'index'}) # dropping additional index column
df_testi

   Rank            States     2018     2017     2016     2015     2014
0     1  Washington, D.C.  $85,203  $82,372  $75,506  $75,628  $71,648
1     2          Maryland  $83,242  $80,776  $78,945  $75,847  $73,971
2     3        New Jersey  $81,740  $80,088  $76,126  $72,222  $71,919
3     4            Hawaii  $80,212  $77,765  $74,511  $73,486  $69,592
4     5     Massachusetts  $79,835  $77,385  $75,297  $70,628  $69,160
5     6       Connecticut  $76,348  $74,168  $73,433  $71,346  $70,048
6     7        California  $75,277  $71,805  $67,739  $64,500  $61,933
7     8     New Hampshire  $74,991  $73,381  $70,936  $70,303  $66,532
8     9            Alaska  $74,346  $73,181  $76,440  $73,355  $71,583
9    10        Washington  $74,073  $70,979  $67,106  $64,129  $61,366
10   11          Virginia  $72,577  $71,535  $68,114  $66,262  $64,902
11   12          Colorado  $71,953  $69,117  $65,685  $63,909  $61,303
12   13              Utah  $71,414  $65,358  $65,977  $62,912  $60,922
13   14         Minnesota  $70,315  $68,388  $65,599  $63,488  $61,481
14   15          New York  $67,844  $64,894  $62,909  $60,850  $58,878
15   16          Illinois  $65,030  $62,992  $60,960  $59,588  $57,444
16   17          Delaware  $64,805  $62,852  $61,757  $61,255  $59,716
17   18      Rhode Island  $64,340  $63,870  $60,596  $58,073  $54,891
18   19      North Dakota  $63,837  $61,843  $60,656  $60,557  $59,029
19   20            Oregon  $63,426  $60,212  $57,532  $54,148  $51,075
20   21           Wyoming  $61,584  $60,434  $59,882  $60,214  $57,055
21   22      Pennsylvania  $60,905  $59,105  $56,907  $55,702  $53,234
22   23           Vermont  $60,782  $57,513  $57,677  $56,990  $54,166
23   24         Wisconsin  $60,773  $59,305  $56,811  $55,638  $52,622
24   25             Texas  $60,629  $59,206  $56,565  $55,653  $53,035
25   26              Iowa  $59,955  $58,570  $56,247  $54,736  $53,712
26   27          Nebraska  $59,566  $59,970  $56,927  $54,996  $52,686
27   28           Arizona  $59,246  $56,581  $53,558  $51,492  $50,068
28   29           Georgia  $58,756  $56,183  $53,559  $51,244  $49,321
29   30            Nevada  $58,646  $58,003  $55,180  $52,431  $51,450
30   31            Kansas  $58,218  $56,422  $54,935  $53,906  $52,504
31   32          Michigan  $56,697  $54,909  $52,491  $51,084  $49,847
32   33      South Dakota  $56,274  $56,521  $54,467  $53,017  $50,979
33   34              Ohio  $56,111  $54,021  $52,344  $51,075  $49,308
34   35           Indiana  $55,746  $54,181  $52,314  $50,532  $49,446
35   36             Maine  $55,602  $55,277  $53,079  $51,494  $49,462
36   37             Idaho  $55,583  $52,225  $51,807  $48,275  $47,861
37   38           Florida  $55,462  $52,594  $50,860  $49,426  $47,463
38   39           Montana  $55,328  $53,386  $50,027  $49,509  $46,328
39   40          Missouri  $54,478  $53,578  $51,746  $50,238  $48,363
40   41    North Carolina  $53,855  $52,752  $50,584  $47,830  $46,556
41   42         Tennessee  $52,375  $51,340  $48,547  $47,275  $44,361
42   43    South Carolina  $52,306  $50,570  $49,501  $47,238  $45,238
43   44          Oklahoma  $51,924  $50,051  $49,176  $48,568  $47,529
44   45          Kentucky  $50,247  $48,375  $46,659  $45,215  $42,958
45   46           Alabama  $49,861  $48,123  $46,257  $44,765  $42,830
46   48         Louisiana  $47,905  $46,145  $45,146  $45,727  $44,555
47   49        New Mexico  $47,169  $46,744  $46,748  $45,382  $44,803
48   50          Arkansas  $47,062  $45,869  $44,334  $41,995  $41,262
49   51       Mississippi  $44,717  $43,529  $41,754  $40,593  $39,680
50   52     West Virginia  $44,097  $43,469  $43,385  $42,019  $41,059

In [64]:
df_testi = df_testi.drop(columns={'Rank'}) ## Dropping rank column

In [65]:
df_testi

              States     2018     2017     2016     2015     2014
0   Washington, D.C.  $85,203  $82,372  $75,506  $75,628  $71,648
1           Maryland  $83,242  $80,776  $78,945  $75,847  $73,971
2         New Jersey  $81,740  $80,088  $76,126  $72,222  $71,919
3             Hawaii  $80,212  $77,765  $74,511  $73,486  $69,592
4      Massachusetts  $79,835  $77,385  $75,297  $70,628  $69,160
5        Connecticut  $76,348  $74,168  $73,433  $71,346  $70,048
6         California  $75,277  $71,805  $67,739  $64,500  $61,933
7      New Hampshire  $74,991  $73,381  $70,936  $70,303  $66,532
8             Alaska  $74,346  $73,181  $76,440  $73,355  $71,583
9         Washington  $74,073  $70,979  $67,106  $64,129  $61,366
10          Virginia  $72,577  $71,535  $68,114  $66,262  $64,902
11          Colorado  $71,953  $69,117  $65,685  $63,909  $61,303
12              Utah  $71,414  $65,358  $65,977  $62,912  $60,922
13         Minnesota  $70,315  $68,388  $65,599  $63,488  $61,481
14          New York  $67,844  $64,894  $62,909  $60,850  $58,878
15          Illinois  $65,030  $62,992  $60,960  $59,588  $57,444
16          Delaware  $64,805  $62,852  $61,757  $61,255  $59,716
17      Rhode Island  $64,340  $63,870  $60,596  $58,073  $54,891
18      North Dakota  $63,837  $61,843  $60,656  $60,557  $59,029
19            Oregon  $63,426  $60,212  $57,532  $54,148  $51,075
20           Wyoming  $61,584  $60,434  $59,882  $60,214  $57,055
21      Pennsylvania  $60,905  $59,105  $56,907  $55,702  $53,234
22           Vermont  $60,782  $57,513  $57,677  $56,990  $54,166
23         Wisconsin  $60,773  $59,305  $56,811  $55,638  $52,622
24             Texas  $60,629  $59,206  $56,565  $55,653  $53,035
25              Iowa  $59,955  $58,570  $56,247  $54,736  $53,712
26          Nebraska  $59,566  $59,970  $56,927  $54,996  $52,686
27           Arizona  $59,246  $56,581  $53,558  $51,492  $50,068
28           Georgia  $58,756  $56,183  $53,559  $51,244  $49,321
29            Nevada  $58,646  $58,003  $55,180  $52,431  $51,450
30            Kansas  $58,218  $56,422  $54,935  $53,906  $52,504
31          Michigan  $56,697  $54,909  $52,491  $51,084  $49,847
32      South Dakota  $56,274  $56,521  $54,467  $53,017  $50,979
33              Ohio  $56,111  $54,021  $52,344  $51,075  $49,308
34           Indiana  $55,746  $54,181  $52,314  $50,532  $49,446
35             Maine  $55,602  $55,277  $53,079  $51,494  $49,462
36             Idaho  $55,583  $52,225  $51,807  $48,275  $47,861
37           Florida  $55,462  $52,594  $50,860  $49,426  $47,463
38           Montana  $55,328  $53,386  $50,027  $49,509  $46,328
39          Missouri  $54,478  $53,578  $51,746  $50,238  $48,363
40    North Carolina  $53,855  $52,752  $50,584  $47,830  $46,556
41         Tennessee  $52,375  $51,340  $48,547  $47,275  $44,361
42    South Carolina  $52,306  $50,570  $49,501  $47,238  $45,238
43          Oklahoma  $51,924  $50,051  $49,176  $48,568  $47,529
44          Kentucky  $50,247  $48,375  $46,659  $45,215  $42,958
45           Alabama  $49,861  $48,123  $46,257  $44,765  $42,830
46         Louisiana  $47,905  $46,145  $45,146  $45,727  $44,555
47        New Mexico  $47,169  $46,744  $46,748  $45,382  $44,803
48          Arkansas  $47,062  $45,869  $44,334  $41,995  $41,262
49       Mississippi  $44,717  $43,529  $41,754  $40,593  $39,680
50     West Virginia  $44,097  $43,469  $43,385  $42,019  $41,059

In [66]:
df_testi = df_testi.replace ("Washington, D.C.","District of Columbia") ## Renaming variable so it is consistent with the LE variable for the merge 
df_testi

                  States     2018     2017     2016     2015     2014
0   District of Columbia  $85,203  $82,372  $75,506  $75,628  $71,648
1               Maryland  $83,242  $80,776  $78,945  $75,847  $73,971
2             New Jersey  $81,740  $80,088  $76,126  $72,222  $71,919
3                 Hawaii  $80,212  $77,765  $74,511  $73,486  $69,592
4          Massachusetts  $79,835  $77,385  $75,297  $70,628  $69,160
5            Connecticut  $76,348  $74,168  $73,433  $71,346  $70,048
6             California  $75,277  $71,805  $67,739  $64,500  $61,933
7          New Hampshire  $74,991  $73,381  $70,936  $70,303  $66,532
8                 Alaska  $74,346  $73,181  $76,440  $73,355  $71,583
9             Washington  $74,073  $70,979  $67,106  $64,129  $61,366
10              Virginia  $72,577  $71,535  $68,114  $66,262  $64,902
11              Colorado  $71,953  $69,117  $65,685  $63,909  $61,303
12                  Utah  $71,414  $65,358  $65,977  $62,912  $60,922
13             Minnesota  $70,315  $68,388  $65,599  $63,488  $61,481
14              New York  $67,844  $64,894  $62,909  $60,850  $58,878
15              Illinois  $65,030  $62,992  $60,960  $59,588  $57,444
16              Delaware  $64,805  $62,852  $61,757  $61,255  $59,716
17          Rhode Island  $64,340  $63,870  $60,596  $58,073  $54,891
18          North Dakota  $63,837  $61,843  $60,656  $60,557  $59,029
19                Oregon  $63,426  $60,212  $57,532  $54,148  $51,075
20               Wyoming  $61,584  $60,434  $59,882  $60,214  $57,055
21          Pennsylvania  $60,905  $59,105  $56,907  $55,702  $53,234
22               Vermont  $60,782  $57,513  $57,677  $56,990  $54,166
23             Wisconsin  $60,773  $59,305  $56,811  $55,638  $52,622
24                 Texas  $60,629  $59,206  $56,565  $55,653  $53,035
25                  Iowa  $59,955  $58,570  $56,247  $54,736  $53,712
26              Nebraska  $59,566  $59,970  $56,927  $54,996  $52,686
27               Arizona  $59,246  $56,581  $53,558  $51,492  $50,068
28               Georgia  $58,756  $56,183  $53,559  $51,244  $49,321
29                Nevada  $58,646  $58,003  $55,180  $52,431  $51,450
30                Kansas  $58,218  $56,422  $54,935  $53,906  $52,504
31              Michigan  $56,697  $54,909  $52,491  $51,084  $49,847
32          South Dakota  $56,274  $56,521  $54,467  $53,017  $50,979
33                  Ohio  $56,111  $54,021  $52,344  $51,075  $49,308
34               Indiana  $55,746  $54,181  $52,314  $50,532  $49,446
35                 Maine  $55,602  $55,277  $53,079  $51,494  $49,462
36                 Idaho  $55,583  $52,225  $51,807  $48,275  $47,861
37               Florida  $55,462  $52,594  $50,860  $49,426  $47,463
38               Montana  $55,328  $53,386  $50,027  $49,509  $46,328
39              Missouri  $54,478  $53,578  $51,746  $50,238  $48,363
40        North Carolina  $53,855  $52,752  $50,584  $47,830  $46,556
41             Tennessee  $52,375  $51,340  $48,547  $47,275  $44,361
42        South Carolina  $52,306  $50,570  $49,501  $47,238  $45,238
43              Oklahoma  $51,924  $50,051  $49,176  $48,568  $47,529
44              Kentucky  $50,247  $48,375  $46,659  $45,215  $42,958
45               Alabama  $49,861  $48,123  $46,257  $44,765  $42,830
46             Louisiana  $47,905  $46,145  $45,146  $45,727  $44,555
47            New Mexico  $47,169  $46,744  $46,748  $45,382  $44,803
48              Arkansas  $47,062  $45,869  $44,334  $41,995  $41,262
49           Mississippi  $44,717  $43,529  $41,754  $40,593  $39,680
50         West Virginia  $44,097  $43,469  $43,385  $42,019  $41,059

In [67]:
df_testi = df_testi.rename(columns={"States": "US States"}) ## renaming column name so it is consistent with the LE variable for merge 
df_testi

               US States     2018     2017     2016     2015     2014
0   District of Columbia  $85,203  $82,372  $75,506  $75,628  $71,648
1               Maryland  $83,242  $80,776  $78,945  $75,847  $73,971
2             New Jersey  $81,740  $80,088  $76,126  $72,222  $71,919
3                 Hawaii  $80,212  $77,765  $74,511  $73,486  $69,592
4          Massachusetts  $79,835  $77,385  $75,297  $70,628  $69,160
5            Connecticut  $76,348  $74,168  $73,433  $71,346  $70,048
6             California  $75,277  $71,805  $67,739  $64,500  $61,933
7          New Hampshire  $74,991  $73,381  $70,936  $70,303  $66,532
8                 Alaska  $74,346  $73,181  $76,440  $73,355  $71,583
9             Washington  $74,073  $70,979  $67,106  $64,129  $61,366
10              Virginia  $72,577  $71,535  $68,114  $66,262  $64,902
11              Colorado  $71,953  $69,117  $65,685  $63,909  $61,303
12                  Utah  $71,414  $65,358  $65,977  $62,912  $60,922
13             Minnesota  $70,315  $68,388  $65,599  $63,488  $61,481
14              New York  $67,844  $64,894  $62,909  $60,850  $58,878
15              Illinois  $65,030  $62,992  $60,960  $59,588  $57,444
16              Delaware  $64,805  $62,852  $61,757  $61,255  $59,716
17          Rhode Island  $64,340  $63,870  $60,596  $58,073  $54,891
18          North Dakota  $63,837  $61,843  $60,656  $60,557  $59,029
19                Oregon  $63,426  $60,212  $57,532  $54,148  $51,075
20               Wyoming  $61,584  $60,434  $59,882  $60,214  $57,055
21          Pennsylvania  $60,905  $59,105  $56,907  $55,702  $53,234
22               Vermont  $60,782  $57,513  $57,677  $56,990  $54,166
23             Wisconsin  $60,773  $59,305  $56,811  $55,638  $52,622
24                 Texas  $60,629  $59,206  $56,565  $55,653  $53,035
25                  Iowa  $59,955  $58,570  $56,247  $54,736  $53,712
26              Nebraska  $59,566  $59,970  $56,927  $54,996  $52,686
27               Arizona  $59,246  $56,581  $53,558  $51,492  $50,068
28               Georgia  $58,756  $56,183  $53,559  $51,244  $49,321
29                Nevada  $58,646  $58,003  $55,180  $52,431  $51,450
30                Kansas  $58,218  $56,422  $54,935  $53,906  $52,504
31              Michigan  $56,697  $54,909  $52,491  $51,084  $49,847
32          South Dakota  $56,274  $56,521  $54,467  $53,017  $50,979
33                  Ohio  $56,111  $54,021  $52,344  $51,075  $49,308
34               Indiana  $55,746  $54,181  $52,314  $50,532  $49,446
35                 Maine  $55,602  $55,277  $53,079  $51,494  $49,462
36                 Idaho  $55,583  $52,225  $51,807  $48,275  $47,861
37               Florida  $55,462  $52,594  $50,860  $49,426  $47,463
38               Montana  $55,328  $53,386  $50,027  $49,509  $46,328
39              Missouri  $54,478  $53,578  $51,746  $50,238  $48,363
40        North Carolina  $53,855  $52,752  $50,584  $47,830  $46,556
41             Tennessee  $52,375  $51,340  $48,547  $47,275  $44,361
42        South Carolina  $52,306  $50,570  $49,501  $47,238  $45,238
43              Oklahoma  $51,924  $50,051  $49,176  $48,568  $47,529
44              Kentucky  $50,247  $48,375  $46,659  $45,215  $42,958
45               Alabama  $49,861  $48,123  $46,257  $44,765  $42,830
46             Louisiana  $47,905  $46,145  $45,146  $45,727  $44,555
47            New Mexico  $47,169  $46,744  $46,748  $45,382  $44,803
48              Arkansas  $47,062  $45,869  $44,334  $41,995  $41,262
49           Mississippi  $44,717  $43,529  $41,754  $40,593  $39,680
50         West Virginia  $44,097  $43,469  $43,385  $42,019  $41,059

In [68]:
df_testi = df_testi.rename(columns={"2018": "Median Household Income"}) ## renaming variable for consistency

In [69]:
df_testi

,US States,Median Household Income,2017,2016,2015,2014
0,District of Columbia,"$85,203","$82,372","$75,506","$75,628","$71,648"
1,Maryland,"$83,242","$80,776","$78,945","$75,847","$73,971"
2,New Jersey,"$81,740","$80,088","$76,126","$72,222","$71,919"
3,Hawaii,"$80,212","$77,765","$74,511","$73,486","$69,592"
4,Massachusetts,"$79,835","$77,385","$75,297","$70,628","$69,160"
5,Connecticut,"$76,348","$74,168","$73,433","$71,346","$70,048"
6,California,"$75,277","$71,805","$67,739","$64,500","$61,933"
7,New Hampshire,"$74,991","$73,381","$70,936","$70,303","$66,532"
8,Alaska,"$74,346","$73,181","$76,440","$73,355","$71,583"
9,Washington,"$74,073","$70,979","$67,106","$64,129","$61,366"
10,Virginia,"$72,577","$71,535","$68,114","$66,262","$64,902"
11,Colorado,"$71,953","$69,117","$65,685","$63,909","$61,303"
12,Utah,"$71,414","$65,358","$65,977","$62,912","$60,922"
13,Minnesota,"$70,315","$68,388","$65,599","$63,488","$61,481"
14,New York,"$67,844","$64,894","$62,909","$60,850","$58,878"
15,Illinois,"$65,030","$62,992","$60,960","$59,588","$57,444"
16,Delaware,"$64,805","$62,852","$61,757","$61,255","$59,716"
17,Rhode Island,"$64,340","$63,870","$60,596","$58,073","$54,891"
18,North Dakota,"$63,837","$61,843","$60,656","$60,557","$59,029"
19,Oregon,"$63,426","$60,212","$57,532","$54,148","$51,075"
20,Wyoming,"$61,584","$60,434","$59,882","$60,214","$57,055"
21,Pennsylvania,"$60,905","$59,105","$56,907","$55,702","$53,234"
22,Vermont,"$60,782","$57,513","$57,677","$56,990","$54,166"
23,Wisconsin,"$60,773","$59,305","$56,811","$55,638","$52,622"
24,Texas,"$60,629","$59,206","$56,565","$55,653","$53,035"
25,Iowa,"$59,955","$58,570","$56,247","$54,736","$53,712"
26,Nebraska,"$59,566","$59,970","$56,927","$54,996","$52,686"
27,Arizona,"$59,246","$56,581","$53,558","$51,492","$50,068"
28,Georgia,"$58,756","$56,183","$53,559","$51,244","$49,321"
29,Nevada,"$58,646","$58,003","$55,180","$52,431","$51,450"
30,Kansas,"$58,218","$56,422","$54,935","$53,906","$52,504"
31,Michigan,"$56,697","$54,909","$52,491","$51,084","$49,847"
32,South Dakota,"$56,274","$56,521","$54,467","$53,017","$50,979"
33,Ohio,"$56,111","$54,021","$52,344","$51,075","$49,308"
34,Indiana,"$55,746","$54,181","$52,314","$50,532","$49,446"
35,Maine,"$55,602","$55,277","$53,079","$51,494","$49,462"
36,Idaho,"$55,583","$52,225","$51,807","$48,275","$47,861"
37,Florida,"$55,462","$52,594","$50,860","$49,426","$47,463"
38,Montana,"$55,328","$53,386","$50,027","$49,509","$46,328"
39,Missouri,"$54,478","$53,578","$51,746","$50,238","$48,363"
40,North Carolina,"$53,855","$52,752","$50,584","$47,830","$46,556"
41,Tennessee,"$52,375","$51,340","$48,547","$47,275","$44,361"
42,South Carolina,"$52,306","$50,570","$49,501","$47,238","$45,238"
43,Oklahoma,"$51,924","$50,051","$49,176","$48,568","$47,529"
44,Kentucky,"$50,247","$48,375","$46,659","$45,215","$42,958"
45,Alabama,"$49,861","$48,123","$46,257","$44,765","$42,830"
46,Louisiana,"$47,905","$46,145","$45,146","$45,727","$44,555"
47,New Mexico,"$47,169","$46,744","$46,748","$45,382","$44,803"
48,Arkansas,"$47,062","$45,869","$44,334","$41,995","$41,262"
49,Mississippi,"$44,717","$43,529","$41,754","$40,593","$39,680"
50,West Virginia,"$44,097","$43,469","$43,385","$42,019","$41,059"

In [70]:
MHHI = df_testi.drop(columns=['2017', '2016','2015','2014']) ## Only retaining most recent information and renaming variable

In [71]:
## Median Household Income 
MHHI

               US States Median Household Income
0   District of Columbia                 $85,203
1               Maryland                 $83,242
2             New Jersey                 $81,740
3                 Hawaii                 $80,212
4          Massachusetts                 $79,835
5            Connecticut                 $76,348
6             California                 $75,277
7          New Hampshire                 $74,991
8                 Alaska                 $74,346
9             Washington                 $74,073
10              Virginia                 $72,577
11              Colorado                 $71,953
12                  Utah                 $71,414
13             Minnesota                 $70,315
14              New York                 $67,844
15              Illinois                 $65,030
16              Delaware                 $64,805
17          Rhode Island                 $64,340
18          North Dakota                 $63,837
19                Oregon                 $63,426
20               Wyoming                 $61,584
21          Pennsylvania                 $60,905
22               Vermont                 $60,782
23             Wisconsin                 $60,773
24                 Texas                 $60,629
25                  Iowa                 $59,955
26              Nebraska                 $59,566
27               Arizona                 $59,246
28               Georgia                 $58,756
29                Nevada                 $58,646
30                Kansas                 $58,218
31              Michigan                 $56,697
32          South Dakota                 $56,274
33                  Ohio                 $56,111
34               Indiana                 $55,746
35                 Maine                 $55,602
36                 Idaho                 $55,583
37               Florida                 $55,462
38               Montana                 $55,328
39              Missouri                 $54,478
40        North Carolina                 $53,855
41             Tennessee                 $52,375
42        South Carolina                 $52,306
43              Oklahoma                 $51,924
44              Kentucky                 $50,247
45               Alabama                 $49,861
46             Louisiana                 $47,905
47            New Mexico                 $47,169
48              Arkansas                 $47,062
49           Mississippi                 $44,717
50         West Virginia                 $44,097

In [72]:
## Last website link for table I will be using-- education percentages broken up by state 
xhtml_e = url_get_contents('https://ex.shadowrun.fr/list_of_u.s-12.html').decode('utf-8')
# Defining the HTMLTableParser object
p_e = HTMLTableParser()

# feeding the html contents in the
# HTMLTableParser object
p_e.feed(xhtml_e)

# Now finally obtaining the data of
# the table required
pprint(p_e.tables[1])
print(pd.DataFrame(p_e.tables[1]))

## converting table as a pandas dataframe 
df_e=pd.DataFrame(p_e.tables[1])

[['State, federal district, or territory',
  '% High school graduate or higher',
  'High School rank',
  "% Bachelor's degree or higher",
  "Bachelor's rank",
  '% Advanced degree',
  'Advanced rank'],
 ['Montana', '93.0%', '1', '30.7%', '21', '10.1%', '33'],
 ['New Hampshire', '92.8%', '2', '36.0%', '9', '13.8%', '10'],
 ['Minnesota', '92.8%', '3', '34.8%', '11', '11.8%', '18'],
 ['Wyoming', '92.8%', '4', '26.7%', '41', '9.3%', '39'],
 ['Alaska', '92.4%', '5', '29.0%', '28', '10.4%', '29'],
 ['North Dakota', '92.3%', '6', '28.9%', '29', '7.8%', '51'],
 ['Vermont', '92.3%', '7', '36.8%', '8', '15.0%', '7'],
 ['Maine', '92.1%', '8', '30.3%', '23', '10.9%', '24'],
 ['Iowa', '91.8%', '9', '27.7%', '36', '9.0%', '42'],
 ['Utah', '91.8%', '10', '32.5%', '16', '11.0%', '23'],
 ['Wisconsin', '91.7%', '11', '29.0%', '27', '9.9%', '35'],
 ['Hawaii', '91.6%', '12', '32.0%', '19', '10.8%', '25'],
 ['South Dakota', '91.4%', '13', '27.8%', '35', '8.3%', '45'],
 ['Colorado', '91.1%', '14', '39.4%', '3', '14.6%', '9'],
 ['Nebraska', '90.9%', '15', '30.6%', '22', '10.2%', '31'],
 ['Washington', '90.8%', '16', '34.5%', '12', '12.7%', '14'],
 ['Kansas', '90.5%', '17', '32.3%', '17', '11.7%', '20'],
 ['District of Columbia', '90.3%', '18', '56.6%', '1', '32.8%', '1'],
 ['Massachusetts', '90.3%', '19', '42.1%', '2', '18.7%', '2'],
 ['Idaho', '90.2%', '20', '26.8%', '40', '8.5%', '43'],
 ['Michigan', '90.2%', '21', '28.1%', '34', '11.0%', '22'],
 ['Connecticut', '90.2%', '22', '38.4%', '5', '17.0%', '4'],
 ['Oregon', '76.7%', '23', '32.3%', '18', '12.2%', '16'],
 ['Pennsylvania', '89.9%', '24', '30.1%', '24', '11.8%', '19'],
 ['Maryland', '89.8%', '25', '39.0%', '4', '18.0%', '3'],
 ['Ohio', '89.8%', '26', '27.2%', '37', '10.2%', '32'],
 ['Delaware', '89.3%', '27', '31.0%', '20', '12.9%', '13'],
 ['Missouri', '89.2%', '28', '28.2%', '33', '10.7%', '26'],
 ['New Jersey', '89.2%', '29', '38.1%', '6', '14.7%', '8'],
 ['Virginia', '89.0%', '30', '37.6%', '7', '16.1%', '5'],
 ['Illinois', '88.6%', '31', '33.4%', '13', '13.0%', '12'],
 ['Indiana', '88.3%', '32', '25.3%', '43', '9.2%', '40'],
 ['Florida', '87.6%', '33', '28.5%', '31', '10.3%', '30'],
 ['Oklahoma', '87.5%', '34', '24.8%', '44', '8.3%', '44'],
 ['Rhode Island', '87.3%', '35', '33.0%', '14', '13.1%', '11'],
 ['United States', '87.3%', '35.5', '30.9%', '20.5', '11.8%', '18.5'],
 ['North Carolina', '86.9%', '36', '29.9%', '26', '10.6%', '28'],
 ['South Carolina', '86.5%', '37', '27.0%', '38', '9.8%', '36'],
 ['Tennessee', '86.5%', '38', '26.1%', '42', '9.6%', '37'],
 ['Georgia', '86.3%', '39', '29.9%', '25', '11.4%', '21'],
 ['New York', '86.1%', '40', '35.3%', '10', '15.4%', '6'],
 ['West Virginia', '85.9%', '41', '19.9%', '51', '7.9%', '49'],
 ['Nevada', '85.8%', '42', '23.7%', '46', '8.1%', '47'],
 ['Arkansas', '85.6%', '43', '22.0%', '49', '7.9%', '50'],
 ['Alabama', '85.3%', '44', '24.5%', '45', '9.1%', '41'],
 ['Kentucky', '85.2%', '45', '23.2%', '48', '9.6%', '38'],
 ['New Mexico', '85.0%', '46', '26.9%', '39', '11.8%', '17'],
 ['Louisiana', '84.3%', '47', '23.4%', '47', '8.1%', '46'],
 ['Mississippi', '83.4%', '48', '21.3%', '50', '8.0%', '48'],
 ['Texas', '82.8%', '49', '28.7%', '30', '9.9%', '34'],
 ['California', '82.5%', '50', '32.6%', '15', '12.2%', '15'],
 ['Arizona', '82.1%', '51', '28.4%', '32', '10.7%', '26']]
                                        0                                 1  \
0   State, federal district, or territory  % High school graduate or higher
1                                 Montana                             93.0%
2                           New Hampshire                             92.8%
3                               Minnesota                             92.8%
4                                 Wyoming                             92.8%
5                                  Alaska                             92.4%
6                            North Dakota                             92.3%
7                                 Vermont                             92.3%
8                                   Maine                             92.1%
9                                    Iowa                             91.8%
10                                   Utah                             91.8%
11                              Wisconsin                             91.7%
12                                 Hawaii                             91.6%
13                           South Dakota                             91.4%
14                               Colorado                             91.1%
15                               Nebraska                             90.9%
16                             Washington                             90.8%
17                                 Kansas                             90.5%
18                   District of Columbia                             90.3%
19                          Massachusetts                             90.3%
20                                  Idaho                             90.2%
21                               Michigan                             90.2%
22                            Connecticut                             90.2%
23                                 Oregon                             76.7%
24                           Pennsylvania                             89.9%
25                               Maryland                             89.8%
26                                   Ohio                             89.8%
27                               Delaware                             89.3%
28                               Missouri                             89.2%
29                             New Jersey                             89.2%
30                               Virginia                             89.0%
31                               Illinois                             88.6%
32                                Indiana                             88.3%
33                                Florida                             87.6%
34                               Oklahoma                             87.5%
35                           Rhode Island                             87.3%
36                          United States                             87.3%
37                         North Carolina                             86.9%
38                         South Carolina                             86.5%
39                              Tennessee                             86.5%
40                                Georgia                             86.3%
41                               New York                             86.1%
42                          West Virginia                             85.9%
43                                 Nevada                             85.8%
44                               Arkansas                             85.6%
45                                Alabama                             85.3%
46                               Kentucky                             85.2%
47                             New Mexico                             85.0%
48                              Louisiana                             84.3%
49                            Mississippi                             83.4%
50                                  Texas                             82.8%
51                             California                             82.5%
52                                Arizona                             82.1%

                   2                              3                4  \
0   High School rank  % Bachelor's degree or higher  Bachelor's rank
1                  1                          30.7%               21
2                  2                          36.0%                9
3                  3                          34.8%               11
4                  4                          26.7%               41
5                  5                          29.0%               28
6                  6                          28.9%               29
7                  7                          36.8%                8
8                  8                          30.3%               23
9                  9                          27.7%               36
10                10                          32.5%               16
11                11                          29.0%               27
12                12                          32.0%               19
13                13                          27.8%               35
14                14                          39.4%                3
15                15                          30.6%               22
16                16                          34.5%               12
17                17                          32.3%               17
18                18                          56.6%                1
19                19                          42.1%                2
20                20                          26.8%               40
21                21                          28.1%               34
22                22                          38.4%                5
23                23                          32.3%               18
24                24                          30.1%               24
25                25                          39.0%                4
26                26                          27.2%               37
27                27                          31.0%               20
28                28                          28.2%               33
29                29                          38.1%                6
30                30                          37.6%                7
31                31                          33.4%               13
32                32                          25.3%               43
33                33                          28.5%               31
34                34                          24.8%               44
35                35                          33.0%               14
36              35.5                          30.9%             20.5
37                36                          29.9%               26
38                37                          27.0%               38
39                38                          26.1%               42
40                39                          29.9%               25
41                40                          35.3%               10
42                41                          19.9%               51
43                42                          23.7%               46
44                43                          22.0%               49
45                44                          24.5%               45
46                45                          23.2%               48
47                46                          26.9%               39
48                47                          23.4%               47
49                48                          21.3%               50
50                49                          28.7%               30
51                50                          32.6%               15
52                51                          28.4%               32

                    5              6
0   % Advanced degree  Advanced rank
1               10.1%             33
2               13.8%             10
3               11.8%             18
4                9.3%             39
5               10.4%             29
6                7.8%             51
7               15.0%              7
8               10.9%             24
9                9.0%             42
10              11.0%             23
11               9.9%             35
12              10.8%             25
13               8.3%             45
14              14.6%              9
15              10.2%             31
16              12.7%             14
17              11.7%             20
18              32.8%              1
19              18.7%              2
20               8.5%             43
21              11.0%             22
22              17.0%              4
23              12.2%             16
24              11.8%             19
25              18.0%              3
26              10.2%             32
27              12.9%             13
28              10.7%             26
29              14.7%              8
30              16.1%              5
31              13.0%             12
32               9.2%             40
33              10.3%             30
34               8.3%             44
35              13.1%             11
36              11.8%           18.5
37              10.6%             28
38               9.8%             36
39               9.6%             37
40              11.4%             21
41              15.4%              6
42               7.9%             49
43               8.1%             47
44               7.9%             50
45               9.1%             41
46               9.6%             38
47              11.8%             17
48               8.1%             46
49               8.0%             48
50               9.9%             34
51              12.2%             15
52              10.7%             26

In [73]:
dftest_e = df_e ## Working with a copy

In [74]:
dftest_e.head() ## Checking the first few rows

,0,1,2,3,4,5,6
0,"State, federal district, or territory",% High school graduate or higher,High School rank,% Bachelor's degree or higher,Bachelor's rank,% Advanced degree,Advanced rank
1,Montana,93.0%,1,30.7%,21,10.1%,33
2,New Hampshire,92.8%,2,36.0%,9,13.8%,10
3,Minnesota,92.8%,3,34.8%,11,11.8%,18
4,Wyoming,92.8%,4,26.7%,41,9.3%,39

In [75]:
dftest_e.columns ## seeing the different columns

RangeIndex(start=0, stop=7, step=1)

In [76]:
#df_testi.head(20).index.tolist()
#income_by_state = df_testi ['0','1']
# renaming all columns
dftest_e.columns=['States','HS Degree %', 'HS Rank', 'Bachelors Degree %','Bachelors Rank','Advanced Degree %', 'Advanced Degree Rank' ]
#see changes:
dftest_e

,States,HS Degree %,HS Rank,Bachelors Degree %,Bachelors Rank,Advanced Degree %,Advanced Degree Rank
0,"State, federal district, or territory",% High school graduate or higher,High School rank,% Bachelor's degree or higher,Bachelor's rank,% Advanced degree,Advanced rank
1,Montana,93.0%,1,30.7%,21,10.1%,33
2,New Hampshire,92.8%,2,36.0%,9,13.8%,10
3,Minnesota,92.8%,3,34.8%,11,11.8%,18
4,Wyoming,92.8%,4,26.7%,41,9.3%,39
5,Alaska,92.4%,5,29.0%,28,10.4%,29
6,North Dakota,92.3%,6,28.9%,29,7.8%,51
7,Vermont,92.3%,7,36.8%,8,15.0%,7
8,Maine,92.1%,8,30.3%,23,10.9%,24
9,Iowa,91.8%,9,27.7%,36,9.0%,42
10,Utah,91.8%,10,32.5%,16,11.0%,23
11,Wisconsin,91.7%,11,29.0%,27,9.9%,35
12,Hawaii,91.6%,12,32.0%,19,10.8%,25
13,South Dakota,91.4%,13,27.8%,35,8.3%,45
14,Colorado,91.1%,14,39.4%,3,14.6%,9
15,Nebraska,90.9%,15,30.6%,22,10.2%,31
16,Washington,90.8%,16,34.5%,12,12.7%,14
17,Kansas,90.5%,17,32.3%,17,11.7%,20
18,District of Columbia,90.3%,18,56.6%,1,32.8%,1
19,Massachusetts,90.3%,19,42.1%,2,18.7%,2
20,Idaho,90.2%,20,26.8%,40,8.5%,43
21,Michigan,90.2%,21,28.1%,34,11.0%,22
22,Connecticut,90.2%,22,38.4%,5,17.0%,4
23,Oregon,76.7%,23,32.3%,18,12.2%,16
24,Pennsylvania,89.9%,24,30.1%,24,11.8%,19
25,Maryland,89.8%,25,39.0%,4,18.0%,3
26,Ohio,89.8%,26,27.2%,37,10.2%,32
27,Delaware,89.3%,27,31.0%,20,12.9%,13
28,Missouri,89.2%,28,28.2%,33,10.7%,26
29,New Jersey,89.2%,29,38.1%,6,14.7%,8
30,Virginia,89.0%,30,37.6%,7,16.1%,5
31,Illinois,88.6%,31,33.4%,13,13.0%,12
32,Indiana,88.3%,32,25.3%,43,9.2%,40
33,Florida,87.6%,33,28.5%,31,10.3%,30
34,Oklahoma,87.5%,34,24.8%,44,8.3%,44
35,Rhode Island,87.3%,35,33.0%,14,13.1%,11
36,United States,87.3%,35.5,30.9%,20.5,11.8%,18.5
37,North Carolina,86.9%,36,29.9%,26,10.6%,28
38,South Carolina,86.5%,37,27.0%,38,9.8%,36
39,Tennessee,86.5%,38,26.1%,42,9.6%,37
40,Georgia,86.3%,39,29.9%,25,11.4%,21
41,New York,86.1%,40,35.3%,10,15.4%,6
42,West Virginia,85.9%,41,19.9%,51,7.9%,49
43,Nevada,85.8%,42,23.7%,46,8.1%,47
44,Arkansas,85.6%,43,22.0%,49,7.9%,50
45,Alabama,85.3%,44,24.5%,45,9.1%,41
46,Kentucky,85.2%,45,23.2%,48,9.6%,38
47,New Mexico,85.0%,46,26.9%,39,11.8%,17
48,Louisiana,84.3%,47,23.4%,47,8.1%,46
49,Mississippi,83.4%,48,21.3%,50,8.0%,48
50,Texas,82.8%,49,28.7%,30,9.9%,34
51,California,82.5%,50,32.6%,15,12.2%,15
52,Arizona,82.1%,51,28.4%,32,10.7%,26

In [77]:

#define values I want to drop-- dropping all overseas territories of US for consistency 
values = ["State, federal district, or territory", "United States", "American Samoa", "Guam", "Northern Mariana Islands", "Puerto Rico", "Virgin Islands (U.S.)"  ]

#drop rows that contain any value in the list
dftest_e = dftest_e[dftest_e.States.isin(values) == False]

In [78]:
dftest_e

,States,HS Degree %,HS Rank,Bachelors Degree %,Bachelors Rank,Advanced Degree %,Advanced Degree Rank
1,Montana,93.0%,1,30.7%,21,10.1%,33
2,New Hampshire,92.8%,2,36.0%,9,13.8%,10
3,Minnesota,92.8%,3,34.8%,11,11.8%,18
4,Wyoming,92.8%,4,26.7%,41,9.3%,39
5,Alaska,92.4%,5,29.0%,28,10.4%,29
6,North Dakota,92.3%,6,28.9%,29,7.8%,51
7,Vermont,92.3%,7,36.8%,8,15.0%,7
8,Maine,92.1%,8,30.3%,23,10.9%,24
9,Iowa,91.8%,9,27.7%,36,9.0%,42
10,Utah,91.8%,10,32.5%,16,11.0%,23
11,Wisconsin,91.7%,11,29.0%,27,9.9%,35
12,Hawaii,91.6%,12,32.0%,19,10.8%,25
13,South Dakota,91.4%,13,27.8%,35,8.3%,45
14,Colorado,91.1%,14,39.4%,3,14.6%,9
15,Nebraska,90.9%,15,30.6%,22,10.2%,31
16,Washington,90.8%,16,34.5%,12,12.7%,14
17,Kansas,90.5%,17,32.3%,17,11.7%,20
18,District of Columbia,90.3%,18,56.6%,1,32.8%,1
19,Massachusetts,90.3%,19,42.1%,2,18.7%,2
20,Idaho,90.2%,20,26.8%,40,8.5%,43
21,Michigan,90.2%,21,28.1%,34,11.0%,22
22,Connecticut,90.2%,22,38.4%,5,17.0%,4
23,Oregon,76.7%,23,32.3%,18,12.2%,16
24,Pennsylvania,89.9%,24,30.1%,24,11.8%,19
25,Maryland,89.8%,25,39.0%,4,18.0%,3
26,Ohio,89.8%,26,27.2%,37,10.2%,32
27,Delaware,89.3%,27,31.0%,20,12.9%,13
28,Missouri,89.2%,28,28.2%,33,10.7%,26
29,New Jersey,89.2%,29,38.1%,6,14.7%,8
30,Virginia,89.0%,30,37.6%,7,16.1%,5
31,Illinois,88.6%,31,33.4%,13,13.0%,12
32,Indiana,88.3%,32,25.3%,43,9.2%,40
33,Florida,87.6%,33,28.5%,31,10.3%,30
34,Oklahoma,87.5%,34,24.8%,44,8.3%,44
35,Rhode Island,87.3%,35,33.0%,14,13.1%,11
37,North Carolina,86.9%,36,29.9%,26,10.6%,28
38,South Carolina,86.5%,37,27.0%,38,9.8%,36
39,Tennessee,86.5%,38,26.1%,42,9.6%,37
40,Georgia,86.3%,39,29.9%,25,11.4%,21
41,New York,86.1%,40,35.3%,10,15.4%,6
42,West Virginia,85.9%,41,19.9%,51,7.9%,49
43,Nevada,85.8%,42,23.7%,46,8.1%,47
44,Arkansas,85.6%,43,22.0%,49,7.9%,50
45,Alabama,85.3%,44,24.5%,45,9.1%,41
46,Kentucky,85.2%,45,23.2%,48,9.6%,38
47,New Mexico,85.0%,46,26.9%,39,11.8%,17
48,Louisiana,84.3%,47,23.4%,47,8.1%,46
49,Mississippi,83.4%,48,21.3%,50,8.0%,48
50,Texas,82.8%,49,28.7%,30,9.9%,34
51,California,82.5%,50,32.6%,15,12.2%,15
52,Arizona,82.1%,51,28.4%,32,10.7%,26

In [79]:
dftest_e = dftest_e.reset_index() ## Resetting Index after dropping variables 
dftest_e = dftest_e.drop(columns={'index'}) ## Dropping additional index column
dftest_e

,States,HS Degree %,HS Rank,Bachelors Degree %,Bachelors Rank,Advanced Degree %,Advanced Degree Rank
0,Montana,93.0%,1,30.7%,21,10.1%,33
1,New Hampshire,92.8%,2,36.0%,9,13.8%,10
2,Minnesota,92.8%,3,34.8%,11,11.8%,18
3,Wyoming,92.8%,4,26.7%,41,9.3%,39
4,Alaska,92.4%,5,29.0%,28,10.4%,29
5,North Dakota,92.3%,6,28.9%,29,7.8%,51
6,Vermont,92.3%,7,36.8%,8,15.0%,7
7,Maine,92.1%,8,30.3%,23,10.9%,24
8,Iowa,91.8%,9,27.7%,36,9.0%,42
9,Utah,91.8%,10,32.5%,16,11.0%,23
10,Wisconsin,91.7%,11,29.0%,27,9.9%,35
11,Hawaii,91.6%,12,32.0%,19,10.8%,25
12,South Dakota,91.4%,13,27.8%,35,8.3%,45
13,Colorado,91.1%,14,39.4%,3,14.6%,9
14,Nebraska,90.9%,15,30.6%,22,10.2%,31
15,Washington,90.8%,16,34.5%,12,12.7%,14
16,Kansas,90.5%,17,32.3%,17,11.7%,20
17,District of Columbia,90.3%,18,56.6%,1,32.8%,1
18,Massachusetts,90.3%,19,42.1%,2,18.7%,2
19,Idaho,90.2%,20,26.8%,40,8.5%,43
20,Michigan,90.2%,21,28.1%,34,11.0%,22
21,Connecticut,90.2%,22,38.4%,5,17.0%,4
22,Oregon,76.7%,23,32.3%,18,12.2%,16
23,Pennsylvania,89.9%,24,30.1%,24,11.8%,19
24,Maryland,89.8%,25,39.0%,4,18.0%,3
25,Ohio,89.8%,26,27.2%,37,10.2%,32
26,Delaware,89.3%,27,31.0%,20,12.9%,13
27,Missouri,89.2%,28,28.2%,33,10.7%,26
28,New Jersey,89.2%,29,38.1%,6,14.7%,8
29,Virginia,89.0%,30,37.6%,7,16.1%,5
30,Illinois,88.6%,31,33.4%,13,13.0%,12
31,Indiana,88.3%,32,25.3%,43,9.2%,40
32,Florida,87.6%,33,28.5%,31,10.3%,30
33,Oklahoma,87.5%,34,24.8%,44,8.3%,44
34,Rhode Island,87.3%,35,33.0%,14,13.1%,11
35,North Carolina,86.9%,36,29.9%,26,10.6%,28
36,South Carolina,86.5%,37,27.0%,38,9.8%,36
37,Tennessee,86.5%,38,26.1%,42,9.6%,37
38,Georgia,86.3%,39,29.9%,25,11.4%,21
39,New York,86.1%,40,35.3%,10,15.4%,6
40,West Virginia,85.9%,41,19.9%,51,7.9%,49
41,Nevada,85.8%,42,23.7%,46,8.1%,47
42,Arkansas,85.6%,43,22.0%,49,7.9%,50
43,Alabama,85.3%,44,24.5%,45,9.1%,41
44,Kentucky,85.2%,45,23.2%,48,9.6%,38
45,New Mexico,85.0%,46,26.9%,39,11.8%,17
46,Louisiana,84.3%,47,23.4%,47,8.1%,46
47,Mississippi,83.4%,48,21.3%,50,8.0%,48
48,Texas,82.8%,49,28.7%,30,9.9%,34
49,California,82.5%,50,32.6%,15,12.2%,15
50,Arizona,82.1%,51,28.4%,32,10.7%,26

In [80]:
Education = dftest_e.drop(columns=['HS Rank', 'Bachelors Rank','Advanced Degree Rank']) ## renaming variable as Education

In [81]:
Education

                  States HS Degree % Bachelors Degree % Advanced Degree %
0                Montana       93.0%              30.7%             10.1%
1          New Hampshire       92.8%              36.0%             13.8%
2              Minnesota       92.8%              34.8%             11.8%
3                Wyoming       92.8%              26.7%              9.3%
4                 Alaska       92.4%              29.0%             10.4%
5           North Dakota       92.3%              28.9%              7.8%
6                Vermont       92.3%              36.8%             15.0%
7                  Maine       92.1%              30.3%             10.9%
8                   Iowa       91.8%              27.7%              9.0%
9                   Utah       91.8%              32.5%             11.0%
10             Wisconsin       91.7%              29.0%              9.9%
11                Hawaii       91.6%              32.0%             10.8%
12          South Dakota       91.4%              27.8%              8.3%
13              Colorado       91.1%              39.4%             14.6%
14              Nebraska       90.9%              30.6%             10.2%
15            Washington       90.8%              34.5%             12.7%
16                Kansas       90.5%              32.3%             11.7%
17  District of Columbia       90.3%              56.6%             32.8%
18         Massachusetts       90.3%              42.1%             18.7%
19                 Idaho       90.2%              26.8%              8.5%
20              Michigan       90.2%              28.1%             11.0%
21           Connecticut       90.2%              38.4%             17.0%
22                Oregon       76.7%              32.3%             12.2%
23          Pennsylvania       89.9%              30.1%             11.8%
24              Maryland       89.8%              39.0%             18.0%
25                  Ohio       89.8%              27.2%             10.2%
26              Delaware       89.3%              31.0%             12.9%
27              Missouri       89.2%              28.2%             10.7%
28            New Jersey       89.2%              38.1%             14.7%
29              Virginia       89.0%              37.6%             16.1%
30              Illinois       88.6%              33.4%             13.0%
31               Indiana       88.3%              25.3%              9.2%
32               Florida       87.6%              28.5%             10.3%
33              Oklahoma       87.5%              24.8%              8.3%
34          Rhode Island       87.3%              33.0%             13.1%
35        North Carolina       86.9%              29.9%             10.6%
36        South Carolina       86.5%              27.0%              9.8%
37             Tennessee       86.5%              26.1%              9.6%
38               Georgia       86.3%              29.9%             11.4%
39              New York       86.1%              35.3%             15.4%
40         West Virginia       85.9%              19.9%              7.9%
41                Nevada       85.8%              23.7%              8.1%
42              Arkansas       85.6%              22.0%              7.9%
43               Alabama       85.3%              24.5%              9.1%
44              Kentucky       85.2%              23.2%              9.6%
45            New Mexico       85.0%              26.9%             11.8%
46             Louisiana       84.3%              23.4%              8.1%
47           Mississippi       83.4%              21.3%              8.0%
48                 Texas       82.8%              28.7%              9.9%
49            California       82.5%              32.6%             12.2%
50               Arizona       82.1%              28.4%             10.7%

In [82]:
Education = Education.rename(columns={"States": "US States"}) ## Changing Column Header for consistency

In [83]:
Education

               US States HS Degree % Bachelors Degree % Advanced Degree %
0                Montana       93.0%              30.7%             10.1%
1          New Hampshire       92.8%              36.0%             13.8%
2              Minnesota       92.8%              34.8%             11.8%
3                Wyoming       92.8%              26.7%              9.3%
4                 Alaska       92.4%              29.0%             10.4%
5           North Dakota       92.3%              28.9%              7.8%
6                Vermont       92.3%              36.8%             15.0%
7                  Maine       92.1%              30.3%             10.9%
8                   Iowa       91.8%              27.7%              9.0%
9                   Utah       91.8%              32.5%             11.0%
10             Wisconsin       91.7%              29.0%              9.9%
11                Hawaii       91.6%              32.0%             10.8%
12          South Dakota       91.4%              27.8%              8.3%
13              Colorado       91.1%              39.4%             14.6%
14              Nebraska       90.9%              30.6%             10.2%
15            Washington       90.8%              34.5%             12.7%
16                Kansas       90.5%              32.3%             11.7%
17  District of Columbia       90.3%              56.6%             32.8%
18         Massachusetts       90.3%              42.1%             18.7%
19                 Idaho       90.2%              26.8%              8.5%
20              Michigan       90.2%              28.1%             11.0%
21           Connecticut       90.2%              38.4%             17.0%
22                Oregon       76.7%              32.3%             12.2%
23          Pennsylvania       89.9%              30.1%             11.8%
24              Maryland       89.8%              39.0%             18.0%
25                  Ohio       89.8%              27.2%             10.2%
26              Delaware       89.3%              31.0%             12.9%
27              Missouri       89.2%              28.2%             10.7%
28            New Jersey       89.2%              38.1%             14.7%
29              Virginia       89.0%              37.6%             16.1%
30              Illinois       88.6%              33.4%             13.0%
31               Indiana       88.3%              25.3%              9.2%
32               Florida       87.6%              28.5%             10.3%
33              Oklahoma       87.5%              24.8%              8.3%
34          Rhode Island       87.3%              33.0%             13.1%
35        North Carolina       86.9%              29.9%             10.6%
36        South Carolina       86.5%              27.0%              9.8%
37             Tennessee       86.5%              26.1%              9.6%
38               Georgia       86.3%              29.9%             11.4%
39              New York       86.1%              35.3%             15.4%
40         West Virginia       85.9%              19.9%              7.9%
41                Nevada       85.8%              23.7%              8.1%
42              Arkansas       85.6%              22.0%              7.9%
43               Alabama       85.3%              24.5%              9.1%
44              Kentucky       85.2%              23.2%              9.6%
45            New Mexico       85.0%              26.9%             11.8%
46             Louisiana       84.3%              23.4%              8.1%
47           Mississippi       83.4%              21.3%              8.0%
48                 Texas       82.8%              28.7%              9.9%
49            California       82.5%              32.6%             12.2%
50               Arizona       82.1%              28.4%             10.7%

In [84]:
Deliverable = LE_state.merge(Education, how = 'inner', on = 'US States') # Performing first merge
## Inner merge so that the variables across the LE and Education data frames are merged and the columns are matched across the commonality-- US states

In [85]:
Deliverable ## Checking to see if the merge was successful

,US States,2019,2010,2000,HS Degree %,Bachelors Degree %,Advanced Degree %
0,Alabama,75.5,75.4,74.4,85.3%,24.5%,9.1%
1,Alaska,79.0,78.0,76.2,92.4%,29.0%,10.4%
2,Arizona,80.0,79.3,77.1,82.1%,28.4%,10.7%
3,Arkansas,76.0,76.0,74.8,85.6%,22.0%,7.9%
4,California,81.7,80.6,78.1,82.5%,32.6%,12.2%
5,Colorado,80.6,80.1,78.4,91.1%,39.4%,14.6%
6,Connecticut,80.9,80.7,78.3,90.2%,38.4%,17.0%
7,Delaware,78.5,78.3,76.4,89.3%,31.0%,12.9%
8,District of Columbia,79.0,76.9,72.1,90.3%,56.6%,32.8%
9,Florida,80.2,79.0,77.0,87.6%,28.5%,10.3%
10,Georgia,77.9,77.3,75.1,86.3%,29.9%,11.4%
11,Hawaii,82.3,81.4,79.5,91.6%,32.0%,10.8%
12,Idaho,79.4,79.4,78.1,90.2%,26.8%,8.5%
13,Illinois,79.4,79.0,76.6,88.6%,33.4%,13.0%
14,Indiana,77.1,77.5,76.0,88.3%,25.3%,9.2%
15,Iowa,79.4,79.6,78.3,91.8%,27.7%,9.0%
16,Kansas,78.5,78.6,77.4,90.5%,32.3%,11.7%
17,Kentucky,75.6,75.9,75.1,85.2%,23.2%,9.6%
18,Louisiana,76.1,75.8,74.1,84.3%,23.4%,8.1%
19,Maine,78.7,79.1,77.6,92.1%,30.3%,10.9%
20,Maryland,79.2,79.0,76.2,89.8%,39.0%,18.0%
21,Massachusetts,80.6,80.5,78.2,90.3%,42.1%,18.7%
22,Michigan,78.1,78.0,76.4,90.2%,28.1%,11.0%
23,Minnesota,80.9,80.8,79.0,92.8%,34.8%,11.8%
24,Mississippi,74.9,74.8,73.4,83.4%,21.3%,8.0%
25,Missouri,77.3,77.4,76.0,89.2%,28.2%,10.7%
26,Montana,78.9,78.5,77.3,93.0%,30.7%,10.1%
27,Nebraska,79.6,79.7,78.3,90.9%,30.6%,10.2%
28,Nevada,78.7,77.8,75.9,85.8%,23.7%,8.1%
29,New Hampshire,79.7,80.3,78.5,92.8%,36.0%,13.8%
30,New Jersey,80.5,80.0,77.3,89.2%,38.1%,14.7%
31,New Mexico,78.0,78.2,77.1,85.0%,26.9%,11.8%
32,New York,81.4,80.3,77.6,86.1%,35.3%,15.4%
33,North Carolina,78.1,77.8,75.6,86.9%,29.9%,10.6%
34,North Dakota,79.7,79.7,78.8,92.3%,28.9%,7.8%
35,Ohio,77.0,77.7,76.3,89.8%,27.2%,10.2%
36,Oklahoma,76.0,75.7,75.0,87.5%,24.8%,8.3%
37,Oregon,79.9,79.5,77.8,76.7%,32.3%,12.2%
38,Pennsylvania,78.4,78.5,76.7,89.9%,30.1%,11.8%
39,Rhode Island,79.8,79.5,78.0,87.3%,33.0%,13.1%
40,South Carolina,77.1,76.8,74.7,86.5%,27.0%,9.8%
41,South Dakota,78.9,79.3,78.0,91.4%,27.8%,8.3%
42,Tennessee,76.0,76.2,74.7,86.5%,26.1%,9.6%
43,Texas,79.2,78.4,76.5,82.8%,28.7%,9.9%
44,Utah,80.1,79.8,78.6,91.8%,32.5%,11.0%
45,Vermont,79.8,80.1,78.2,92.3%,36.8%,15.0%
46,Virginia,79.5,79.1,76.8,89.0%,37.6%,16.1%
47,Washington,80.4,80.1,78.2,90.8%,34.5%,12.7%
48,West Virginia,74.8,75.5,74.9,85.9%,19.9%,7.9%
49,Wisconsin,79.5,79.6,78.0,91.7%,29.0%,9.9%
50,Wyoming,78.9,78.1,77.1,92.8%,26.7%,9.3%

In [86]:
Deliverable_final= Deliverable.merge(MHHI, how = 'inner', on = 'US States') ## Performing the second merge
## again the previously merged columns are merged with the MHHI dataframe across the commonality or key US states

In [87]:
Deliverable_final.head()## Checking if merge was successful across the Education, MHHI and LE data frames

,US States,2019,2010,2000,HS Degree %,Bachelors Degree %,Advanced Degree %,Median Household Income
0,Alabama,75.5,75.4,74.4,85.3%,24.5%,9.1%,"$49,861"
1,Alaska,79.0,78.0,76.2,92.4%,29.0%,10.4%,"$74,346"
2,Arizona,80.0,79.3,77.1,82.1%,28.4%,10.7%,"$59,246"
3,Arkansas,76.0,76.0,74.8,85.6%,22.0%,7.9%,"$47,062"
4,California,81.7,80.6,78.1,82.5%,32.6%,12.2%,"$75,277"

In [88]:
Deliverable_final= Deliverable_final.drop(columns=['2010', '2000']) ## Dropping LE's from previous years, and only retaining most recent info

In [89]:
Deliverable_final = Deliverable_final.rename(columns={"2019": "Average Life Expectancy"})
## For consistency, changing column name

In [90]:
Deliverable_final.head() ## Checking if final deliverable id cleaned and formatted for the next deliverable 
## Through this data, I hope to see whether Education may affect income and in turn, if this means better access to healthcare and higher life expectancy in states.

,US States,Average Life Expectancy,HS Degree %,Bachelors Degree %,Advanced Degree %,Median Household Income
0,Alabama,75.5,85.3%,24.5%,9.1%,"$49,861"
1,Alaska,79.0,92.4%,29.0%,10.4%,"$74,346"
2,Arizona,80.0,82.1%,28.4%,10.7%,"$59,246"
3,Arkansas,76.0,85.6%,22.0%,7.9%,"$47,062"
4,California,81.7,82.5%,32.6%,12.2%,"$75,277"

In [91]:
## Removing all extra spaces in the table 
Deliverable_final['Average Life Expectancy'].str.strip()
Deliverable_final['HS Degree %'].str.strip()
Deliverable_final['Bachelors Degree %'].str.strip()
Deliverable_final['Advanced Degree %'].str.strip()
Deliverable_final['Median Household Income'].str.strip()
print (Deliverable_final)

               US States Average Life Expectancy HS Degree %  \
0                Alabama                    75.5       85.3%
1                 Alaska                    79.0       92.4%
2                Arizona                    80.0       82.1%
3               Arkansas                    76.0       85.6%
4             California                    81.7       82.5%
5               Colorado                    80.6       91.1%
6            Connecticut                    80.9       90.2%
7               Delaware                    78.5       89.3%
8   District of Columbia                    79.0       90.3%
9                Florida                    80.2       87.6%
10               Georgia                    77.9       86.3%
11                Hawaii                    82.3       91.6%
12                 Idaho                    79.4       90.2%
13              Illinois                    79.4       88.6%
14               Indiana                    77.1       88.3%
15                  Iowa                    79.4       91.8%
16                Kansas                    78.5       90.5%
17              Kentucky                    75.6       85.2%
18             Louisiana                    76.1       84.3%
19                 Maine                    78.7       92.1%
20              Maryland                    79.2       89.8%
21         Massachusetts                    80.6       90.3%
22              Michigan                    78.1       90.2%
23             Minnesota                    80.9       92.8%
24           Mississippi                    74.9       83.4%
25              Missouri                    77.3       89.2%
26               Montana                    78.9       93.0%
27              Nebraska                    79.6       90.9%
28                Nevada                    78.7       85.8%
29         New Hampshire                    79.7       92.8%
30            New Jersey                    80.5       89.2%
31            New Mexico                    78.0       85.0%
32              New York                    81.4       86.1%
33        North Carolina                    78.1       86.9%
34          North Dakota                    79.7       92.3%
35                  Ohio                    77.0       89.8%
36              Oklahoma                    76.0       87.5%
37                Oregon                    79.9       76.7%
38          Pennsylvania                    78.4       89.9%
39          Rhode Island                    79.8       87.3%
40        South Carolina                    77.1       86.5%
41          South Dakota                    78.9       91.4%
42             Tennessee                    76.0       86.5%
43                 Texas                    79.2       82.8%
44                  Utah                    80.1       91.8%
45               Vermont                    79.8       92.3%
46              Virginia                    79.5       89.0%
47            Washington                    80.4       90.8%
48         West Virginia                    74.8       85.9%
49             Wisconsin                    79.5       91.7%
50               Wyoming                    78.9       92.8%

   Bachelors Degree % Advanced Degree % Median Household Income
0               24.5%              9.1%                 $49,861
1               29.0%             10.4%                 $74,346
2               28.4%             10.7%                 $59,246
3               22.0%              7.9%                 $47,062
4               32.6%             12.2%                 $75,277
5               39.4%             14.6%                 $71,953
6               38.4%             17.0%                 $76,348
7               31.0%             12.9%                 $64,805
8               56.6%             32.8%                 $85,203
9               28.5%             10.3%                 $55,462
10              29.9%             11.4%                 $58,756
11              32.0%             10.8%                 $80,212
12              26.8%              8.5%                 $55,583
13              33.4%             13.0%                 $65,030
14              25.3%              9.2%                 $55,746
15              27.7%              9.0%                 $59,955
16              32.3%             11.7%                 $58,218
17              23.2%              9.6%                 $50,247
18              23.4%              8.1%                 $47,905
19              30.3%             10.9%                 $55,602
20              39.0%             18.0%                 $83,242
21              42.1%             18.7%                 $79,835
22              28.1%             11.0%                 $56,697
23              34.8%             11.8%                 $70,315
24              21.3%              8.0%                 $44,717
25              28.2%             10.7%                 $54,478
26              30.7%             10.1%                 $55,328
27              30.6%             10.2%                 $59,566
28              23.7%              8.1%                 $58,646
29              36.0%             13.8%                 $74,991
30              38.1%             14.7%                 $81,740
31              26.9%             11.8%                 $47,169
32              35.3%             15.4%                 $67,844
33              29.9%             10.6%                 $53,855
34              28.9%              7.8%                 $63,837
35              27.2%             10.2%                 $56,111
36              24.8%              8.3%                 $51,924
37              32.3%             12.2%                 $63,426
38              30.1%             11.8%                 $60,905
39              33.0%             13.1%                 $64,340
40              27.0%              9.8%                 $52,306
41              27.8%              8.3%                 $56,274
42              26.1%              9.6%                 $52,375
43              28.7%              9.9%                 $60,629
44              32.5%             11.0%                 $71,414
45              36.8%             15.0%                 $60,782
46              37.6%             16.1%                 $72,577
47              34.5%             12.7%                 $74,073
48              19.9%              7.9%                 $44,097
49              29.0%              9.9%                 $60,773
50              26.7%              9.3%                 $61,584

In [92]:
Deliverable_final
## Checking to see of clearning was successful

,US States,Average Life Expectancy,HS Degree %,Bachelors Degree %,Advanced Degree %,Median Household Income
0,Alabama,75.5,85.3%,24.5%,9.1%,"$49,861"
1,Alaska,79.0,92.4%,29.0%,10.4%,"$74,346"
2,Arizona,80.0,82.1%,28.4%,10.7%,"$59,246"
3,Arkansas,76.0,85.6%,22.0%,7.9%,"$47,062"
4,California,81.7,82.5%,32.6%,12.2%,"$75,277"
5,Colorado,80.6,91.1%,39.4%,14.6%,"$71,953"
6,Connecticut,80.9,90.2%,38.4%,17.0%,"$76,348"
7,Delaware,78.5,89.3%,31.0%,12.9%,"$64,805"
8,District of Columbia,79.0,90.3%,56.6%,32.8%,"$85,203"
9,Florida,80.2,87.6%,28.5%,10.3%,"$55,462"
10,Georgia,77.9,86.3%,29.9%,11.4%,"$58,756"
11,Hawaii,82.3,91.6%,32.0%,10.8%,"$80,212"
12,Idaho,79.4,90.2%,26.8%,8.5%,"$55,583"
13,Illinois,79.4,88.6%,33.4%,13.0%,"$65,030"
14,Indiana,77.1,88.3%,25.3%,9.2%,"$55,746"
15,Iowa,79.4,91.8%,27.7%,9.0%,"$59,955"
16,Kansas,78.5,90.5%,32.3%,11.7%,"$58,218"
17,Kentucky,75.6,85.2%,23.2%,9.6%,"$50,247"
18,Louisiana,76.1,84.3%,23.4%,8.1%,"$47,905"
19,Maine,78.7,92.1%,30.3%,10.9%,"$55,602"
20,Maryland,79.2,89.8%,39.0%,18.0%,"$83,242"
21,Massachusetts,80.6,90.3%,42.1%,18.7%,"$79,835"
22,Michigan,78.1,90.2%,28.1%,11.0%,"$56,697"
23,Minnesota,80.9,92.8%,34.8%,11.8%,"$70,315"
24,Mississippi,74.9,83.4%,21.3%,8.0%,"$44,717"
25,Missouri,77.3,89.2%,28.2%,10.7%,"$54,478"
26,Montana,78.9,93.0%,30.7%,10.1%,"$55,328"
27,Nebraska,79.6,90.9%,30.6%,10.2%,"$59,566"
28,Nevada,78.7,85.8%,23.7%,8.1%,"$58,646"
29,New Hampshire,79.7,92.8%,36.0%,13.8%,"$74,991"
30,New Jersey,80.5,89.2%,38.1%,14.7%,"$81,740"
31,New Mexico,78.0,85.0%,26.9%,11.8%,"$47,169"
32,New York,81.4,86.1%,35.3%,15.4%,"$67,844"
33,North Carolina,78.1,86.9%,29.9%,10.6%,"$53,855"
34,North Dakota,79.7,92.3%,28.9%,7.8%,"$63,837"
35,Ohio,77.0,89.8%,27.2%,10.2%,"$56,111"
36,Oklahoma,76.0,87.5%,24.8%,8.3%,"$51,924"
37,Oregon,79.9,76.7%,32.3%,12.2%,"$63,426"
38,Pennsylvania,78.4,89.9%,30.1%,11.8%,"$60,905"
39,Rhode Island,79.8,87.3%,33.0%,13.1%,"$64,340"
40,South Carolina,77.1,86.5%,27.0%,9.8%,"$52,306"
41,South Dakota,78.9,91.4%,27.8%,8.3%,"$56,274"
42,Tennessee,76.0,86.5%,26.1%,9.6%,"$52,375"
43,Texas,79.2,82.8%,28.7%,9.9%,"$60,629"
44,Utah,80.1,91.8%,32.5%,11.0%,"$71,414"
45,Vermont,79.8,92.3%,36.8%,15.0%,"$60,782"
46,Virginia,79.5,89.0%,37.6%,16.1%,"$72,577"
47,Washington,80.4,90.8%,34.5%,12.7%,"$74,073"
48,West Virginia,74.8,85.9%,19.9%,7.9%,"$44,097"
49,Wisconsin,79.5,91.7%,29.0%,9.9%,"$60,773"
50,Wyoming,78.9,92.8%,26.7%,9.3%,"$61,584"

In [93]:
allData = Deliverable_final

In [94]:
##CSV 
allData= allData.to_csv('allData.csv',index=False)

allData=pd.read_csv("allData.csv")
allData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   US States                51 non-null     object
 1   Average Life Expectancy  51 non-null     float64
 2   HS Degree %              51 non-null     object
 3   Bachelors Degree %       51 non-null     object
 4   Advanced Degree %        51 non-null     object
 5   Median Household Income  51 non-null     object
dtypes: float64(1), object(5)
memory usage: 2.5+ KB

In [ ]:
## Future us in Python
#allData.to_pickle("allData.pkl")
# you will need: DF=pd.read_pickle("allDataFull.pkl")
# or:
# from urllib.request import urlopen
# DF=pd.read_pickle(urlopen("https://..../allDataFull.pkl"),compression=None)

In [1]:
## For Future use in R
#from rpy2.robjects import pandas2ri as rpy2
#pandas2ri.activate()

#from rpy2.robjects.packages import importr

#base = importr('base')
#base.saveRDS(allDataFull,file="allDataFull_OK.RDS")

#In R, you call it with: DF = readRDS("allDataFull.RDS")
#or, if iyou read from cloud: DF = readRDS(url("https://..../allDataFull.RDS")

ModuleNotFoundError: No module named 'rpy2'