In [1]:
import pandas as pd 
allData=pd.read_csv('/Users/niveditaarvind/Desktop/governance_analytics/Deliverable 1/allData.csv')

In [2]:
allData.head()

,US States,Average Life Expectancy,HS Degree %,Bachelors Degree %,Advanced Degree %,Median Household Income
0,Alabama,75.5,85.3%,24.5%,9.1%,"$49,861"
1,Alaska,79.0,92.4%,29.0%,10.4%,"$74,346"
2,Arizona,80.0,82.1%,28.4%,10.7%,"$59,246"
3,Arkansas,76.0,85.6%,22.0%,7.9%,"$47,062"
4,California,81.7,82.5%,32.6%,12.2%,"$75,277"

In [3]:
df1=allData

In [9]:
df1['HS Degree %'] = df1['HS Degree %'].str.rstrip('%').astype('float') / 100.0

In [11]:
df1['Bachelors Degree %'] = df1['Bachelors Degree %'].str.rstrip('%').astype('float') / 100.0

In [12]:
df1['Advanced Degree %'] = df1['Advanced Degree %'].str.rstrip('%').astype('float') / 100.0

In [18]:
df1

,US States,Average Life Expectancy,HS Degree %,Bachelors Degree %,Advanced Degree %,Median Household Income
0,Alabama,75.5,0.853,0.245,0.091,49861
1,Alaska,79.0,0.924,0.290,0.104,74346
2,Arizona,80.0,0.821,0.284,0.107,59246
3,Arkansas,76.0,0.856,0.220,0.079,47062
4,California,81.7,0.825,0.326,0.122,75277
5,Colorado,80.6,0.911,0.394,0.146,71953
6,Connecticut,80.9,0.902,0.384,0.170,76348
7,Delaware,78.5,0.893,0.310,0.129,64805
8,District of Columbia,79.0,0.903,0.566,0.328,85203
9,Florida,80.2,0.876,0.285,0.103,55462
10,Georgia,77.9,0.863,0.299,0.114,58756
11,Hawaii,82.3,0.916,0.320,0.108,80212
12,Idaho,79.4,0.902,0.268,0.085,55583
13,Illinois,79.4,0.886,0.334,0.130,65030
14,Indiana,77.1,0.883,0.253,0.092,55746
15,Iowa,79.4,0.918,0.277,0.090,59955
16,Kansas,78.5,0.905,0.323,0.117,58218
17,Kentucky,75.6,0.852,0.232,0.096,50247
18,Louisiana,76.1,0.843,0.234,0.081,47905
19,Maine,78.7,0.921,0.303,0.109,55602
20,Maryland,79.2,0.898,0.390,0.180,83242
21,Massachusetts,80.6,0.903,0.421,0.187,79835
22,Michigan,78.1,0.902,0.281,0.110,56697
23,Minnesota,80.9,0.928,0.348,0.118,70315
24,Mississippi,74.9,0.834,0.213,0.080,44717
25,Missouri,77.3,0.892,0.282,0.107,54478
26,Montana,78.9,0.930,0.307,0.101,55328
27,Nebraska,79.6,0.909,0.306,0.102,59566
28,Nevada,78.7,0.858,0.237,0.081,58646
29,New Hampshire,79.7,0.928,0.360,0.138,74991
30,New Jersey,80.5,0.892,0.381,0.147,81740
31,New Mexico,78.0,0.850,0.269,0.118,47169
32,New York,81.4,0.861,0.353,0.154,67844
33,North Carolina,78.1,0.869,0.299,0.106,53855
34,North Dakota,79.7,0.923,0.289,0.078,63837
35,Ohio,77.0,0.898,0.272,0.102,56111
36,Oklahoma,76.0,0.875,0.248,0.083,51924
37,Oregon,79.9,0.767,0.323,0.122,63426
38,Pennsylvania,78.4,0.899,0.301,0.118,60905
39,Rhode Island,79.8,0.873,0.330,0.131,64340
40,South Carolina,77.1,0.865,0.270,0.098,52306
41,South Dakota,78.9,0.914,0.278,0.083,56274
42,Tennessee,76.0,0.865,0.261,0.096,52375
43,Texas,79.2,0.828,0.287,0.099,60629
44,Utah,80.1,0.918,0.325,0.110,71414
45,Vermont,79.8,0.923,0.368,0.150,60782
46,Virginia,79.5,0.890,0.376,0.161,72577
47,Washington,80.4,0.908,0.345,0.127,74073
48,West Virginia,74.8,0.859,0.199,0.079,44097
49,Wisconsin,79.5,0.917,0.290,0.099,60773
50,Wyoming,78.9,0.928,0.267,0.093,61584

In [19]:
df1['Median Household Income'] = df1['Median Household Income'].replace({'\$': '', ',': ''}, regex=True)

df1

In [20]:
df1

,US States,Average Life Expectancy,HS Degree %,Bachelors Degree %,Advanced Degree %,Median Household Income
0,Alabama,75.5,0.853,0.245,0.091,49861
1,Alaska,79.0,0.924,0.290,0.104,74346
2,Arizona,80.0,0.821,0.284,0.107,59246
3,Arkansas,76.0,0.856,0.220,0.079,47062
4,California,81.7,0.825,0.326,0.122,75277
5,Colorado,80.6,0.911,0.394,0.146,71953
6,Connecticut,80.9,0.902,0.384,0.170,76348
7,Delaware,78.5,0.893,0.310,0.129,64805
8,District of Columbia,79.0,0.903,0.566,0.328,85203
9,Florida,80.2,0.876,0.285,0.103,55462
10,Georgia,77.9,0.863,0.299,0.114,58756
11,Hawaii,82.3,0.916,0.320,0.108,80212
12,Idaho,79.4,0.902,0.268,0.085,55583
13,Illinois,79.4,0.886,0.334,0.130,65030
14,Indiana,77.1,0.883,0.253,0.092,55746
15,Iowa,79.4,0.918,0.277,0.090,59955
16,Kansas,78.5,0.905,0.323,0.117,58218
17,Kentucky,75.6,0.852,0.232,0.096,50247
18,Louisiana,76.1,0.843,0.234,0.081,47905
19,Maine,78.7,0.921,0.303,0.109,55602
20,Maryland,79.2,0.898,0.390,0.180,83242
21,Massachusetts,80.6,0.903,0.421,0.187,79835
22,Michigan,78.1,0.902,0.281,0.110,56697
23,Minnesota,80.9,0.928,0.348,0.118,70315
24,Mississippi,74.9,0.834,0.213,0.080,44717
25,Missouri,77.3,0.892,0.282,0.107,54478
26,Montana,78.9,0.930,0.307,0.101,55328
27,Nebraska,79.6,0.909,0.306,0.102,59566
28,Nevada,78.7,0.858,0.237,0.081,58646
29,New Hampshire,79.7,0.928,0.360,0.138,74991
30,New Jersey,80.5,0.892,0.381,0.147,81740
31,New Mexico,78.0,0.850,0.269,0.118,47169
32,New York,81.4,0.861,0.353,0.154,67844
33,North Carolina,78.1,0.869,0.299,0.106,53855
34,North Dakota,79.7,0.923,0.289,0.078,63837
35,Ohio,77.0,0.898,0.272,0.102,56111
36,Oklahoma,76.0,0.875,0.248,0.083,51924
37,Oregon,79.9,0.767,0.323,0.122,63426
38,Pennsylvania,78.4,0.899,0.301,0.118,60905
39,Rhode Island,79.8,0.873,0.330,0.131,64340
40,South Carolina,77.1,0.865,0.270,0.098,52306
41,South Dakota,78.9,0.914,0.278,0.083,56274
42,Tennessee,76.0,0.865,0.261,0.096,52375
43,Texas,79.2,0.828,0.287,0.099,60629
44,Utah,80.1,0.918,0.325,0.110,71414
45,Vermont,79.8,0.923,0.368,0.150,60782
46,Virginia,79.5,0.890,0.376,0.161,72577
47,Washington,80.4,0.908,0.345,0.127,74073
48,West Virginia,74.8,0.859,0.199,0.079,44097
49,Wisconsin,79.5,0.917,0.290,0.099,60773
50,Wyoming,78.9,0.928,0.267,0.093,61584

In [23]:
alldatafinal = df1

In [24]:
alldatafinal= alldatafinal.to_csv('alldatafinal.csv',index=False)

In [25]:
alldatafinal=pd.read_csv("alldatafinal.csv")
alldatafinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   US States                51 non-null     object
 1   Average Life Expectancy  51 non-null     float64
 2   HS Degree %              51 non-null     float64
 3   Bachelors Degree %       51 non-null     float64
 4   Advanced Degree %        51 non-null     float64
 5   Median Household Income  51 non-null     int64
dtypes: float64(4), int64(1), object(1)
memory usage: 2.5+ KB